section#que-es-remevet(data-bg='{"width":1920,"height":1280}', style="background-image:url('/static/images/nosotros/bg-01-que-es-remevet.jpg')")

	article: .row: .large-12.columns

		img.right(src="/static/images/nosotros/01-que-es-remevet.jpg")

		h2 ¿Qué es REMEVET?

		p
			a(href=ﬁ.bundles['_home_']) REMEVET &nbsp;
			span
				|	es una publicación electrónica en español que está dirigida a los médicos
				|	veterinarios, estudiantes de veterinaria, académicos y personas interesadas
				|	en la medicina tanto de equinos, pequeñas especies y fauna silvestre en general.

		p
			|	En sus páginas se analizan temas actuales de la medicina veterinaria, casos clínicos
			|	y procedimientos de vanguardia, con aportaciones de los especialistas más
			|	reconocidos de nuestro país y del extranjero.
		p
			a(href=ﬁ.bundles['_home_']) REMEVET &nbsp;
			span es el mejor medio en español para estar actualizado y aprender sobre los avances médicos, procedimientos actuales y casos clínicos.


section#historia(data-bg='{"width":1920,"height":1280}', style="background-image:url('/static/images/nosotros/bg-02-presentacion.jpg')")
	article: .row: .large-12.columns
		img.left(src="/static/images/nosotros/02-presentacion.jpg")
		h2 Presentación
		p La industria Veterinaria en México y en el mundo crece a pasos agigantados, es por eso que los Médicos Veterinarios se ven en la necesidad de mantenerse constantemente actualizados acerca de los diferentes temas relacionados con la clínica veterinaria.
		p La literatura especializada ha estado disponible por años, pero en idiomas extranjeros. Por tal motivo, ante la necesidad de contar con información de vanguardia en español, nos dimos a la tarea de crear en México un medio de información para que todos los Médicos Veterinarios, académicos y estudiantes tuvieran la oportunidad de acceder a información actualizada y en su idioma. Es así como nace nuestra revista REMEVET, surgiendo en un inicio de manera impresa y con costo de inscripción, abarcando solamente a los equinos.
		p Aunque la revista era un éxito, no nos conformamos con ello y decidimos buscar la manera de hacer llegar la información al mayor número posible de lectores de habla hispana, lo que nos hizo voltear hacia los medios electrónicos de difusión. De esta manera fue que nuestra revista pasó de ser una publicación impresa en todo un Portal Electrónico, con secciones de interés gremial y servicios diversos al alcance del lector.
		p Gracias a este enfoque electrónico y al apoyo de patrocinadores, se logró un paso sin precedentes en este tipo de publicaciones: tener un instrumento de actualización y aprendizaje totalmente gratuito. Pero como siempre, esto no fue suficiente, así que decidimos expandir el alcance y publicar secciones relacionadas con otros campos de la medicina veterinaria.
		p Hoy REMEVET es un portal electrónico de acceso abierto, gratuito y en español, que está dirigido a los médicos veterinarios, estudiantes de veterinaria, académicos y personas interesadas en la medicina tanto de equinos, pequeñas especies y fauna silvestre en general.
		p En dicho portal se ofertan servicios de difusión como la calendarización de eventos, directorio veterinario,  bolsa de trabajo y aviso oportuno. Pero además, para satisfacer la demanda de oportunidades de educación continua para los médicos veterinarios, y entendiendo la poca disponibilidad de espacios y tiempos para poder hacerlo mientras se compagina con el ejercicio profesional, REMEVET decide incursionar en el desarrollo de videos de temas médicos de actualidad, protagonizados por expertos en el tema.
		p Actualmente existen tres revistas de publicación periódica (REMEVET PEQUEÑAS ESPECIES, REMEVET FAUNA SILVESTRE y REMEVET EQUINOS) que son dependientes de REMEVET y albergadas en www.remevet.com. Estas revistas apoyan la educación continua y actualización del médico veterinario en tres áreas médicas y es importante destacar que no tiene ningún costo de publicación para los autores.
		p REMEVET es hoy en día el mejor medio en español para estar actualizado y aprender sobre los avances médicos, procedimientos actuales y casos clínicos, con aportaciones de los especialistas más reconocidos de nuestro país y del extranjero.
		p
			span Este incesante crecimiento no ha terminado. El equipo de
			a(href=ﬁ.bundles['_home_']) &nbsp; REMEVET &nbsp;
			span  está convencido de que hay mucho por ofrecer y compartir. Seguiremos buscando la manera de hacerte llegar información de interés y actualidad. Si tienes ideas y las quieres compartir con nosotros, utiliza nuestra forma de contacto.


section#mision(data-bg='{"width":1920,"height":1100}', style="background-image:url('/static/images/nosotros/bg-03-mision.jpg')")
	article: .row: .large-12.columns
		img.right(src="/static/images/nosotros/03-mision.jpg")
		h2 Misión
		p Ofrecer información actualizada en español, escrita por profesionales reconocidos en cada una de sus áreas de especialización, creando con esto un medio de educación continua que resulte en beneficio de los usuarios de este portal, de la industria que tiene que ver con la Medicina Veterinaria y de la salud del mundo animal.


section#vision(data-bg='{"width":1920,"height":1100}', style="background-image:url('/static/images/nosotros/bg-04-vision.jpg')")
	article: .row: .large-12.columns
		img.left(src="/static/images/nosotros/04-vision.jpg")
		h2 Visión
		p Ser el Portal más importante en español y la mejor opción de educación continua y actualización para los Médicos Veterinarios y Estudiantes de esta profesión o carreras afines.


section#objetivos(data-bg='{"width":1920,"height":1200}', style="background-image:url('/static/images/nosotros/bg-05-objetivos.jpg')")
	article: .row: .large-12.columns
		img.right(src="/static/images/nosotros/05-objetivos.jpg")
		h2 Objetivos
		p Servir como medio de educación continua y actualización a los Médicos Veterinarios y estudiantes de la carrera de Medicina Veterinaria.
		p Ser un vínculo importante entre la industria de la Medicina Veterinaria y Zootecnia, y los Médicos Veterinarios, mediante la promoción y difusión de los productos que les son de utilidad para un mejor desempeño de la profesión.
		p Servir a los médicos veterinarios como vínculo de unión del gremio, logrando el crecimiento del mismo.
