form(method="post"):.row
	.small-6.columns
		label Nombre
		input(type="text", name="name", placeholder="")
	.small-6.columns
		label fecha inicio
		input(type="text", name="start", placeholder="")
	.small-6.columns
		label fecha fin
		input(type="text", name="end", placeholder="")
	.small-6.columns
		label logo
		input(type="text", name="logo", placeholder="")
	.small-6.columns
		label desc
		input(type="text", name="desc", placeholder="")
	.small-6.columns
		label venue
		input(type="text", name="venue", placeholder="")
	.small-6.columns
		label phone
		input(type="text", name="phone", placeholder="")
	.small-6.columns
		label web
		input(type="text", name="website", placeholder="")
	.small-6.columns
		label month
		input(type="text", name="month", placeholder="")
	.small-6.columns
		label Nombre
		input(type="text", name="name", placeholder="")
	.small-6.columns
		label fecha inicio
		input(type="text", name="start", placeholder="")
	.small-6.columns
		label fecha fin
		input(type="text", name="end", placeholder="")
	.small-6.columns
		label logo
		input(type="text", name="logo", placeholder="")
	.small-6.columns
		label desc
		input(type="text", name="desc", placeholder="")
	.small-6.columns
		label venue
		input(type="text", name="venue", placeholder="")
	.small-6.columns
		label phone
		input(type="text", name="phone", placeholder="")
	.small-6.columns
		label web
		input(type="text", name="website", placeholder="")
	.small-6.columns
		label month
		input(type="text", name="month", placeholder="")
	input.button.small.right.expand(type="submit", value="add")

