form
	margin-top: 1em

small
	font-size : 77%

.boton:hover
		background-color: green
		outline-color: green


.alert-box.info
	display none !important

#content
	background-color:white

.correo
	margin-top: 1em