#plain.row: .large-12.small-12.columns

	h2 Aviso de privacidad y confidencialidad de la información.

	p Mediante la aceptación de los Términos y Condiciones Generales en el momento del registro, el usuario acepta las políticas aquí contenidas. 

	p Para los efectos del presente aviso de privacidad se exponen lo siguientes conceptos:

	p
		strong Aviso de Privacidad: &nbsp;

		| Documento físico, electrónico o en cualquier otro formato generado por el responsable que es puesto a disposición del titular, 

		| previo al tratamiento de sus datos personales.

	p
		strong Bases de datos: &nbsp;

		| El conjunto ordenado de datos personales referentes a una persona identificada o identificable.

	p 
		strong Bloqueo: &nbsp;

		| La identificación y conservación de datos personales una vez cumplida la finalidad para la cual fueron recabados, con el único propósito de 

		| determinar posibles responsabilidades en relación con su tratamiento, hasta el plazo de prescripción legal o contractual de éstas. 

		| Durante dicho periodo, los datos personales no podrán ser objeto de tratamiento y transcurrido éste, se procederá a su cancelación en la base de datos que corresponde.

	p 
		strong Consentimiento: &nbsp;

		| Manifestación de la voluntad del titular de los datos mediante la cual se efectúa el tratamiento de los mismos.

	p 
		strong Datos personales: &nbsp;

		|Cualquier información concerniente a una persona física identificada o identificable.

	p 
		strong Datos personales sensibles: &nbsp;

		| Aquellos datos personales que afecten a la esfera más íntima de su titular, o cuya utilización indebida pueda dar origen 

		| a discriminación o conlleve un riesgo grave para éste. En particular, se consideran sensibles aquellos que puedan revelar aspectos como origen racial o étnico,

		| estado de salud presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual.

	p
		strong Días: &nbsp;

		|Días hábiles.

	p 
		strong Disociación: &nbsp;

		| El procedimiento mediante el cual los datos personales no pueden asociarse al titular ni permitir, por su estructura, contenido o grado de desagregación, la identificación del mismo.

	p
		strong Encargado: &nbsp;

		| La persona física o jurídica que sola o conjuntamente con otras trate datos personales por cuenta del responsable.

	p 
		strong Fuente de acceso público: &nbsp;

		| Aquellas bases de datos cuya consulta puede ser realizada por cualquier persona, sin más requisito que, en su caso, 

		| el pago de una contraprestación, de conformidad con lo señalado por el Reglamento de esta Ley.

	p 
		strong Instituto: &nbsp;

		| Instituto Federal de Acceso a la Información y Protección de Datos, a que hace referencia la Ley Federal de Transparencia y Acceso a la 

		| Información Pública Gubernamental.

	p 
		strong Ley: &nbsp;

		| Ley Federal de Protección de Datos Personales en Posesión de los Particulares.

	p 
		strong	Reglamento: &nbsp;

		| El Reglamento de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.

	p 
		strong Responsable: &nbsp;

		| Persona física o moral de carácter privado que decide sobre el tratamiento de datos personales.

	p 

		strong Secretaría: &nbsp;

		| Secretaría de Economía.

	p 
		strong Tercero: &nbsp;

		| La persona física o moral, nacional o extranjera, distinta del titular o del responsable de los datos.

	p 
		strong Titular: &nbsp;

		| La persona física a quien corresponden los datos personales.

	p 

		strong Tratamiento: &nbsp;

		| La obtención, uso, divulgación o almacenamiento de datos personales, por cualquier medio. El uso abarca cualquier acción de acceso, 

		| manejo, aprovechamiento, transferencia o disposición de datos personales.

	p 
		strong Transferencia: &nbsp;

		| Toda comunicación de datos realizada a persona distinta del responsable o encargado del tratamiento.

	h2 Aviso de Privacidad

	p 
		strong PRIMERO: &nbsp;

		|  El titular sabe y conoce que los datos que se han ingresado en el Sitio de Remevet®, se han obtenido de manera lícita y con el consentimiento 

		| del mismo.

	p 
		strong SEGUNDO: &nbsp;

		| El consentimiento que el titular otorga de manera expresa se realiza en términos de la fracción segunda del artículo 8 de la ley de la materia,

		| en el momento en que da click al apartado de “Acepto los Términos y Condiciones” durante el proceso de registro.

	p
		strong TERCERO: &nbsp;

		| Remevet® y/o GIK y/o sus subsidiarias, podrán hacer uso de los datos personales del titular para efectos de mercadotecnia, avisos

		| o entrega de ofertas, entre otros, siendo que podrá ceder los mismos a las empresas que de manera directa pertenezcan a su grupo o asociación comercial.

	p 
		strong CUARTO: &nbsp;

		| Remevet® y/o GIK y/o sus subsidiarias no podrán vender, ceder, arrendar o realizar cualquier otro acto jurídico con los datos personales,

		| con personas jurídico colectivas o físicas a fin de obtener lucro o intercambios comerciales.

	p 

		strong QUINTO: &nbsp;

		| En caso de que el titular desee que sus datos no se den a conocer, deberá enviar un correo electrónico solicitando tal efecto a la dirección contacto@remevet.com, 

		| en términos de lo dispuesto por el numeral 25 de la ley.

	p 

		strong SEXTO: &nbsp;

		| Remevet® y/o GIK y/o sus subsidiarias, podrán hacer uso de los datos mientras dure la relación jurídica que una al titular frente a los señalados 

		| y por un periodo de hasta 5 años posteriores. 

	p 

		strong SÉPTIMO: &nbsp;

		| La manera por la cual se eliminarán las datos del titular será mediante la remoción de dichos datos de las bases de datos de Remevet® y/o GIK y/o sus subsidiarias.

	p
		strong OCTAVO: &nbsp;

		| En todo lo no previsto en este Aviso de Privacidad, será aplicable la ley de la materia.
	
h6 Aviso de Privacidad y Confidencialidad de la Información
h6 Revisión 02
h6 29 de Agosto de 2014