include /../templates/mixins/rainbow
include /../templates/mixins/advertisers

.cover.row.collapse

	.show-for-large-up.large-4.columns.gradient: .cover-left

		p
		p
			strong.color-2 REMEVET&nbsp;  
			| es una publicación independiente creada para la educación y actualización continua 
			| de los Médicos Veterinarios Zootecnistas. 
		p
			| Para tu comodidad, facilitamos la búsqueda
			| de los temas y artículos de tu interés dividiendo las revistas en tres ramas:
			| Pequeñas especies
			| Equinos
			| Fauna silvestre
			

	.large-8.columns: .cover-right: .cover-contain

		.row.collapse
			section.small-12.columns.color-bg-2.color-lightest
				header.color-bg-2
					a.uno(href=ﬁ.bundles['magazines']) ¿Qué sección deseas visitar?

				main.row: .small-12.large-8.columns.large-centered
					for magazine in magazines
						- url = './revistas/' + magazine.slug
						.small-4.columns.element
							a(href=url)
								img(src=magazine.image, title=magazine.name, alt=magazine.name)
		

+rainbow()
+advertisers(advertisers)
+rainbow(true)



