#magazines.row.collapse
	#magazines-header
		a.uno(href=ﬁ.bundles['magazines']) Revistas
		a.dos(href=ﬁ.bundles['magazines']) Ver números anteriores
	
	#magazines-issues.row

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760948/remevet-pequenas-especies")
					img(src="/static/images/magazines/pequenas/thumbnails/pe_20.png")
				figcaption
					h4: a(href="#") Pequeñas Especies
					aside: a(href="#") 20

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre")
					img(src="/static/images/magazines/fauna/thumbnails/fs_08.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Fauna Silvestre
					aside: a(href=ﬁ.bundles['magazines']) 08

		.hide-for-small.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760644/revision-medica-equina-23")
					img(src="/static/images/magazines/equinos/thumbnails/eq_23.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Equinos
					aside: a(href=ﬁ.bundles['magazines']) 23

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760707/revision-medica-pequenas-especies-19")
					img(src="/static/images/magazines/pequenas/thumbnails/pe_19.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Pequeñas Especies
					aside: a(href=ﬁ.bundles['magazines']) 19

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760661/revision-medica-fauna-silvestre-7")
					img(src="/static/images/magazines/fauna/thumbnails/fs_07.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Fauna Silvestre
					aside: a(href=ﬁ.bundles['magazines']) 07

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760647/revision-medica-equina-22")
					img(src="/static/images/magazines/equinos/thumbnails/eq_22.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Equinos
					aside: a(href=ﬁ.bundles['magazines']) 22


#magazines.row.collapse
	#magazines-header
		a.uno(href=ﬁ.bundles['magazines']) Revistas
		a.dos(href=ﬁ.bundles['magazines']) Ver números anteriores
	
	#magazines-issues.row

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760948/remevet-pequenas-especies")
					img(src="/static/images/magazines/pequenas/thumbnails/pe_20.png")
				figcaption
					h4: a(href="#") Pequeñas Especies
					aside: a(href="#") 20

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre")
					img(src="/static/images/magazines/fauna/thumbnails/fs_08.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Fauna Silvestre
					aside: a(href=ﬁ.bundles['magazines']) 08

		.hide-for-small.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760644/revision-medica-equina-23")
					img(src="/static/images/magazines/equinos/thumbnails/eq_23.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Equinos
					aside: a(href=ﬁ.bundles['magazines']) 23

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760707/revision-medica-pequenas-especies-19")
					img(src="/static/images/magazines/pequenas/thumbnails/pe_19.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Pequeñas Especies
					aside: a(href=ﬁ.bundles['magazines']) 19

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760661/revision-medica-fauna-silvestre-7")
					img(src="/static/images/magazines/fauna/thumbnails/fs_07.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Fauna Silvestre
					aside: a(href=ﬁ.bundles['magazines']) 07

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760647/revision-medica-equina-22")
					img(src="/static/images/magazines/equinos/thumbnails/eq_22.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Equinos
					aside: a(href=ﬁ.bundles['magazines']) 22

#magazines.row.collapse
	#magazines-header
		a.uno(href=ﬁ.bundles['magazines']) Revistas
		a.dos(href=ﬁ.bundles['magazines']) Ver números anteriores
	
	#magazines-issues.row

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760948/remevet-pequenas-especies")
					img(src="/static/images/magazines/pequenas/thumbnails/pe_20.png")
				figcaption
					h4: a(href="#") Pequeñas Especies
					aside: a(href="#") 20

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre")
					img(src="/static/images/magazines/fauna/thumbnails/fs_08.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Fauna Silvestre
					aside: a(href=ﬁ.bundles['magazines']) 08

		.hide-for-small.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760644/revision-medica-equina-23")
					img(src="/static/images/magazines/equinos/thumbnails/eq_23.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Equinos
					aside: a(href=ﬁ.bundles['magazines']) 23

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760707/revision-medica-pequenas-especies-19")
					img(src="/static/images/magazines/pequenas/thumbnails/pe_19.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Pequeñas Especies
					aside: a(href=ﬁ.bundles['magazines']) 19

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760661/revision-medica-fauna-silvestre-7")
					img(src="/static/images/magazines/fauna/thumbnails/fs_07.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Fauna Silvestre
					aside: a(href=ﬁ.bundles['magazines']) 07

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760647/revision-medica-equina-22")
					img(src="/static/images/magazines/equinos/thumbnails/eq_22.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Equinos
					aside: a(href=ﬁ.bundles['magazines']) 22





//- .row
//- 	.large-12.small-12.medium-12
//- 		h3 Fauna Silvestre
//- 		.row
//- 			ul.small-block-grid-3.medium-block-grid-3.large-block-grid-3
//- 				li
//- 					iframe(width="320px", height="209px", src="https://www.yumpu.com/es/document/embed/QC45JY9HcX6XOC70", frameborder="0", allowfullscreen="true", allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760937/numero-8",target="_blank") Fauna Silvestre #8
//- 				li
//- 					iframe(width="320px",height="209px",src="https://www.yumpu.com/es/document/embed/P8qDJq7QVuQn8zRa",frameborder="0",allowfullscreen="true",allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760661/revision-medica-fauna-silvestre-7", target="_blank") Fauna Silvestre #7
//- 				li
//- 					iframe(width="320px",height="209px",src="https://www.yumpu.com/es/document/embed/I8e5ZlMDYHqkGdYu",frameborder="0",allowfullscreen="true",allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760658/revision-medica-fauna-silvestre-6", target="_blank") Revisión Médica Fauna Silvestre #6


//- 		h3 Pequeñas Especies
//- 		.row
//- 			ul(class="small-block-grid-3 medium-block-grid-3 large-block-grid-3")

//- 				li
//- 					iframe(width="320px",height="209px",src="https://www.yumpu.com/es/document/embed/BSI0WdShpSVvxBmK",frameborder="0",allowfullscreen="true",allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760948/remevet-pequenas-especies" target="_blank") Pequeñas Especies
//- 				li
//- 					iframe(width="320px",height="209px",src="https://www.yumpu.com/es/document/embed/MokZgQyS12RVOUQV",frameborder="0",allowfullscreen="true",allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760707/revision-medica-pequenas-especies-19", target="_blank") Revisión Médica Pequeñas especies #19
//- 				li
//- 					iframe(width="320px",height="209px",src="https://www.yumpu.com/es/document/embed/e3t5MuaoIoNn5xub", frameborder="0" allowfullscreen="true" allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760706/revision-medica-pequenas-especies-18", target="_blank") Revisión Médica Pequeñas especies #18

//- 		h3 Equinos
//- 		.row
//- 			ul(class="small-block-grid-3 medium-block-grid-3 large-block-grid-3")
//- 				li
//- 					iframe(width="320px",height="209px",src="https://www.yumpu.com/es/document/embed/qk8HoTA3RBuzl9li",frameborder="0",allowfullscreen="true",allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760644/revision-medica-equina-23",target="_blank") Revisión Médica Equina #23
//- 				li
//- 					iframe(width="320px",height="209px",src="https://www.yumpu.com/es/document/embed/3c2B2fOdxvs69p5w",frameborder="0",allowfullscreen="true",allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760647/revision-medica-equina-22",target="_blank") Revisión Médica Equina #22
//- 				li
//- 					iframe(width="320px", height="209px", src="https://www.yumpu.com/es/document/embed/Ubj0s3z6Dh0gBJAa", frameborder="0", allowfullscreen="true", allowtransparency="true"): br
//- 					a(href="https://www.yumpu.com/es/document/view/26760642/revision-medica-equina-21" target="_blank") Revisión Médica Equina #21






