.row
	.large-12.small-12.medium-12
		h3 Fauna Silvestre
		.row
			ul(class="small-block-grid-3 medium-block-grid-3 large-block-grid-3")
				li
					iframe(width="320px", height="209px", src="https://www.yumpu.com/es/document/embed/QC45JY9HcX6XOC70", frameborder="0", allowfullscreen="true", allowtransparency="true"): br
					a(href="https://www.yumpu.com/es/document/view/26760937/numero-8",target="_blank") Fauna Silvestre #8
				li
					iframe(width="320px",height="209px",src="https://www.yumpu.com/es/document/embed/P8qDJq7QVuQn8zRa",frameborder="0",allowfullscreen="true",allowtransparency="true"): br
					a(href="https://www.yumpu.com/es/document/view/26760661/revision-medica-fauna-silvestre-7", target="_blank") Fauna Silvestre #7

		h3 Pequeñas Especies
		.row
			ul(class="small-block-grid-3 medium-block-grid-3 large-block-grid-3")

				li
					iframe(width="320px", height="209px", src="https://www.yumpu.com/es/document/embed/1tsvqO1SggHmkFNu", frameborder="0", allowfullscreen="true", allowtransparency="true"): br
					a(href="https://www.yumpu.com/es/document/view/26760948/numero-8",target="_blank") Pequeñas Especies
