if ﬁ.util.isArray(locals.BREADCRUMBS)
	ul.inline-list
		li: a(href=ﬁ.bundles['_home_']) Portada
		for breadcrumb,i in BREADCRUMBS
			li(class= (i+1) == BREADCRUMBS.length? 'last' : '')
				a(href=breadcrumb.href)= breadcrumb.name
				span
