img(src=ﬁ.settings.app.static + "/images/header/logo-white.png")
p
	|	¡Hola! Ya que usamos las mas novedosas tecnologías web, te invitamos a actualizar
	|	la versión de tu navegador para tener acceso a los contenidos de REMEVET.
