.large-12.small-12.medium-12.coluns

#cover.row.collapse
	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6
.large-12.columns
	label &nbsp;
.large-2.columns.divcolor
	img(src='/static/images/logo-white.png')
.large-2.columns.divcolor1
	.large-12.columns
		.large-6.columns
			a(href='https://twitter.com/remevet')
				img.twitter(src='/static/images/logos/tw.png')

			
		.large-6.columns
			a(href='https://www.facebook.com/remevet1')
				img.facebook(src='/static/images/logos/fb.png')




		

.large-3.columns.divcolor2
	.large-12.columns
		.large-3.columns
			img.size(src='/static/images/logos/mail.png')

		.large-9.columns
			h3 contacto@remevet.com
	.large-12.columns.space
		.large-3.columns
			img.size(src='/static/images/logos/phone.png')
		.large-9.columns.txtel
			h3 (52)55 56892601
			h3 (52)55 56899624
	.large-12.columns

		.large-3.columns
			img.size(src='/static/images/logos/home.png')
		.large-9.columns
			h3 México D,F
.large-5.columns.divcolor3
	label &nbsp;

.large-12.columns
	label &nbsp;

