.large-12.small-12.medium-12.columns

#cover.row.collapse
	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6
.large-12.columns
	label &nbsp;
.large-2.columns.divcolor
	img(src='/static/images/header/logo-white.png')
.large-2.columns.divcolor1
	.large-12.columns
		.large-6.columns
			a(href='https://twitter.com/remevet')
				img.twitter(src='/static/images/logos/tw.png')

		.large-6.columns
			a(href='https://www.facebook.com/remevet1')
				img.facebook(src='/static/images/logos/fb.png')

.large-3.columns.divcolor2
	.large-12.columns
		.large-3.columns
			img.size(src='/static/images/logos/mail.png')

		.large-9.columns
			h3.fuente contacto@remevet.com
	.large-12.columns.space
		.large-3.columns
			img.size(src='/static/images/logos/phone.png')
		.large-9.columns.txtel
			h3.fuente (52)55 56892601
			h3.fuente (52)55 56899624
	.large-12.columns

		.large-3.columns
			img.size(src='/static/images/logos/homebn.png')
		.large-9.columns
			h3.fuente México D.F
.large-5.columns.divcolor3

	.large-12.columns
		.large-3.columns
			.large-6.columns
				a(href='/nosotros')
					img.size.line2(src= '/static/images/logos/huella1.png')
			.large-6.columns
				a(href='/nosotros')
					h3.line2.fuente Nosotros
			.large-6.columns
				a(href='/comunidad')
					img.size.line(src= '/static/images/logos/hue.png')
			.large-6.columns
				a(href='/comunidad')
					h3.line.fuente Servicios
		.large-3.columns
			.large-6.columns
				a(href='/sesion/entrar')
					img.size.line2(src= '/static/images/logos/hue.png')
			.large-6.columns
				a(href='/sesion/entrar')
					h3.line2.fuente Revistas
			.large-6.columns
				a(href='/directorio')
					img.size.line(src= '/static/images/logos/hue.png')
			.large-6.columns
				a(href='/directorio')
					h3.line.fuente Directorio
		.large-3.columns
			.large-6.columns
				a(href='/')
					img.size.line2(src= '/static/images/logos/hue.png')
			.large-6.columns
				a(href='/')
				h3.line2.fuente Tienda
			.large-6.columns
				a(href='/biblioteca')
					img.size.line(src= '/static/images/logos/hue.png')
			.large-6.columns
				a(href='/biblioteca')
					h3.line.fuente Blibioteca
		.large-3.columns
			.large-6.columns
				a(href='/sesion/entrar')
					img.size.line2(src= '/static/images/logos/hue.png')
			.large-6.columns
				a(href='/sesion/entrar')
					h3.line2.fuente Eventos
.large-12.columns
	label &nbsp;
