h1: a(href="/") REMEVET
span.line
span.patch

nav
	span.line
	ul.inline-list
		li.color1: a(href=ﬁ.bundles['aboutus']): span Nosotros
		li.color2: a(href="/revistas"): span Revistas
		li.color3: a(href="/eventos"): span Eventos
		//-li.color4: a(href="#"): span Tienda
		li.color5: a(href="/patrocinadores/articulos"): span Biblioteca
		if USER.type == "anon"
			li.color7: a(href="/sesion/entrar"): span Entrar
		else
			li.color7: a(href="/sesion/salir"): span Salir
	span.patch