h1: a(href="/") REMEVET
span.line
span.patch

nav
	span.line
	ul.inline-list
		li.color1: a(href="#"): span Nosotros
		li.color2: a(href="#"): span Revistas
		li.color3: a(href="#"): span Eventos
		li.color4: a(href="#"): span Tienda
		li.color5: a(href="#"): span Biblioteca
		li.color6: a(href="#"): span Comunidad

	span.patch