aside.social: ul.inline-list
	li: a.facebook(href="//facebook.com/remevet1", title="¡Dale me gusta en facebook!", target="_blank") Facebook
	li: a.twitter(href="//twitter.com/remevet", title="¡Síguenos en twitter!", target="_blank") Twitter
	li: a.email(href=ﬁ.bundles['contact'], title="¿Dudas o comentarios? ¡contáctanos!", target="_blank") Contacto
