//- TODO: Style is not loading, What the hell??
style.
	#error 				{ margin-top: 1em }
	#error h1			{ margin:0; padding:0; line-height:1em; }
	#error h1 .label	{ font-size: inherit; margin-right:0.5em;}
	#error h2 small		{ display:block; line-height:2em; margin-left:3.33em;}

#error.row: .large-6.large-centered.columns
	h1
		span.label.alert.round.fi-skull
		span Error 
		span.subheader #{errors.status || " "}
	h2
		if ! ﬁ.util.isArray(errors.message)
			small #{errors.message || "Desconocido"}
		else
			for message in errors.message
				small #{message || "Desconocido"}