#clients.row.collapse

	#clients-slider
		.slide: a(href="http://www.laveccs.org/",target="_blank", onclick='”trackOutboundLink(‘http://www.laveccs.org/’);', return='return'): img(src="/static/images/logos/33.png")
		.slide: a(href="http://www.maltacleyton.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.maltacleyton.com.mx’);', return='return'): img(src="/static/images/logos/35.jpg")
		.slide: a(href="http://www.merial.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.merial.com.mx’);', return='return'): img(src="/static/images/logos/01.png")
		.slide: a(href="http://www.arandalab.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.arandalab.com.mx’);', return='return'): img(src="/static/images/logos/36.png")
		.slide: a(href="http://www.ceamvet.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.ceamvet.com.mx’);', return='return'): img(src="/static/images/logos/02.jpg")
		.slide: a(href="http://www.bio-zoo.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.bio-zoo.com.mx’);', return='return'): img(src="/static/images/logos/03.jpg")
		.slide: a(href="http://www.vetoquinol.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.vetoquinol.mx’);', return='return'): img(src="/static/images/logos/04.jpg")
		.slide: a(href="http://www.archnovo.com.mx/", target="_blank", onclick='”trackOutboundLink(‘http://www.archnovo.com.mx/’);', return='return'): img(src="/static/images/logos/05.jpg")
		.slide: a(href="http://www.platinumperformance.com//international/mexico/", target="_blank", onclick='”trackOutboundLink(‘http://www.platinumperformance.com//international/mexico/’);', return='return'): img(src="/static/images/logos/06.jpg")
		.slide: a(href="http://santgar.com/", target="_blank", onclick='”trackOutboundLink(‘http://santgar.com/’);', return='return'): img(src="/static/images/logos/07.png")
		.slide: a(href="http://www.elanco.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.elanco.com.mx’);', return='return'): img(src="/static/images/logos/08.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/09.jpg")
		.slide: a(href="http://www.petlocator.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.petlocator.com.mx’);', return='return'): img(src="/static/images/logos/10.jpg")
		.slide: a(href="https://www.zoetis.mx", target="_blank", onclick='”trackOutboundLink(‘https://www.zoetis.mx’);', return='return'): img(src="/static/images/logos/11.jpg")
		.slide: a(href="http://www.maico.cc/", target="_blank", onclick='”trackOutboundLink(‘http://www.maico.cc/’);', return='return'): img(src="/static/images/logos/12.jpg")
		.slide: a(href="https://www.idexx.com/", target="_blank", onclick='”trackOutboundLink(‘https://www.idexx.com/’);', return='return'): img(src="/static/images/logos/13.jpg")
		.slide: a(href="http://www.royalcanin.com.mx/", target="_blank", onclick='”trackOutboundLink(‘http://www.royalcanin.com.mx/’);', return='return'): img(src="/static/images/logos/14.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/", target="_blank", onclick='”trackOutboundLink(‘http://www.pisaagropecuaria.com.mx/’);', return='return'): img(src="/static/images/logos/15.jpg")
		.slide: a(href="http://www.acmevez.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.acmevez.mx’);', return='return'): img(src="/static/images/logos/16.jpg")
		.slide: a(href="http://www.maltacleyton.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.maltacleyton.com.mx’);', return='return'): img(src="/static/images/logos/34.jpg")
		.slide: a(href="https://www.zoetis.mx", target="_blank", onclick='”trackOutboundLink(‘https://www.zoetis.mx’);', return='return'): img(src="/static/images/logos/17.jpg")
		.slide: a(href="http://www.frontline.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.frontline.com.mx’);', return='return'): img(src="/static/images/logos/18.png")
		.slide: a(href="http://www.fcm.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.fcm.mx’);', return='return'): img(src="/static/images/logos/20.jpg")
		.slide: a(href="http://www.vettv.org", target="_blank", onclick='”trackOutboundLink(‘http://www.vettv.org’);', return='return'): img(src="/static/images/logos/21.jpg")
		.slide: a(href="http://www.petmmal.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.petmmal.com.mx’);', return='return'): img(src="/static/images/logos/23.jpg")
		.slide: a(href="http://cirugiaveterinaria.mx", target="_blank", onclick='”trackOutboundLink(‘http://cirugiaveterinaria.mx’);', return='return'): img(src="/static/images/logos/24.png")
		.slide: a(href="https://www.zoetis.mx", target="_blank", onclick='”trackOutboundLink(‘https://www.zoetis.mx’);', return='return'): img(src="/static/images/logos/24.jpg")
		.slide: a(href="http://www.ammvee.org.mx/", target="_blank", onclick='”trackOutboundLink(‘http://www.ammvee.org.mx/’);', return='return'): img(src="/static/images/logos/25.jpg")
		.slide: a(href="http://eldelguantesote.blogspot.mx/", target="_blank", onclick='”trackOutboundLink(‘http://eldelguantesote.blogspot.mx/’);', return='return'): img(src="/static/images/logos/26.jpg")
		.slide: a(href="http://www.norvet.com.mx", target="_blank", onclick='”trackOutboundLink(‘http://www.norvet.com.mx’);', return='return'): img(src="/static/images/logos/27.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/", target="_blank", onclick='”trackOutboundLink(‘http://www.pisaagropecuaria.com.mx/’);', return='return'): img(src="/static/images/logos/29.jpg")
		.slide: a(href="http://www.ropasanluis.com.mx/", target="_blank", onclick='”trackOutboundLink(‘http://www.ropasanluis.com.mx/’);', return='return'): img(src="/static/images/logos/31.jpg")
		.slide: a(href="https://desego.com", target="_blank", onclick='”trackOutboundLink(‘https://desego.com’);', return='return'): img(src="/static/images/logos/32.jpg")

			
			