&
	display        : block
	position       : relative
	background     : $colors-1st
	margin         : -5px 0 0 0
	padding        : 0 0 0 15px
	line-height    : 2.5em
	font-size      : 14pt
	text-transform : uppercase
	mixin-font-heading()

	ul
		margin  : 0
		padding : 0

		li
			&:not(:first-child)
				margin-left:0
			a
				color: $colors-normal[0]

				&:after
					content    : "»"
					padding: 0 0.5em

				&:hover
					color: $colors-2nd

					&:after
						color:$colors-normal[0]
						cursor:default

			&.last a
				color: #FFFFFF
				cursor:default

				&:after
					display:none

