// Define colors used throughout the project
$color-span = 33%
$color-max  = 66%

.color-primary
	color: $colors-1st
	&:hover
	&:focus
		color: lighten($colors-1st, $color-span)

.color-bg-primary
	background-color: $colors-1st
	&:hover
	&:focus
		background-color: lighten($colors-1st, $color-span)

.color-secondary
	color: $colors-2nd

	&.color-hover:hover
	&.color-hover:focus
		color: lighten($colors-2nd, $color-span)

.color-bg-secondary
	background-color: $colors-2nd
	&.color-hover:hover
	&.color-hover:focus
		background-color: lighten($colors-2nd, $color-span)


for $color,$number in $colors-normal

	.color-{$number}
		color: $color

		&.color-hover:hover
		&.color-hover:focus
			color: $colors-hover[$number]

		&.color-lighter
			color: lighten($color, $color-span)

		&.color-lightest
			color: lighten($color, $color-max)


		&.color-darker
			color: darken($color, $color-span)

		&.color-darkest
			color: darken($color, $color-max)

	.color-bg-{$number}
		background-color: $color

		&.color-hover:hover
		&.color-hover:focus
			background-color: $colors-hover[$number]

		&.color-bg-lighter
			background-color: lighten($color, $color-span)

			&.color-hover:hover
			&.color-hover:focus
				background-color: lighten($colors-hover[$number], $color-span)

		&.color-bg-lightest
			background-color: lighten($color, $color-max)

			&.color-hover:hover
			&.color-hover:focus
				background-color: lighten($colors-hover[$number], $color-max)

		&.color-color-darker
			background-color: darken($color, $color-span)

			&.color-hover:hover
			&.color-hover:focus
				background-color: darken($colors-hover[$number], $color-span)

		&.color-bg-darkest
			background-color: darken($color, $color-max)

			&.color-hover:hover
			&.color-hover:focus
				background-color: darken($colors-hover[$number], $color-max)