// Define colors used throughout the project
$color-span = 33%
$color-max  = 66%

$shades = 'er' 33%, 'est' 66%
$types  = '' 'color', '-bg' 'background-color'
$colors = 'primary' $colors-1st $colors-1st-hover, 'secondary' $colors-2nd $colors-2nd-hover

gamma(name, color-normal, color-hover)
	for type in $types
		.color{type[0]}-{name}
			{type[1]}: color-normal

			for $shade in $shades
				&.color{type[0]}-light{$shade[0]}
					{type[1]}: lighten(color-normal, $shade[1])

					&.color{type[0]}-hover
						&:hover
						&:focus
							{type[1]}:lighten(color-hover, $shade[1])

			for $shade in $shades
				&.color{type[0]}-dark{$shade[0]}
					{type[1]}: darken(color-normal, $shade[1])

					&.color{type[0]}-hover
						&:hover
						&:focus
							{type[1]}:darken(color-hover, $shade[1])


for $color in $colors
	gamma($color[0], $color[1], $color[2])

for $color,$name in $colors-normal
	gamma($name, $color, $colors-hover[$name])