.cover
	position   : relative
	overflow   : hidden
	height     : 500px
	background : lighten($colors-1st,90%)


	& > .columns
	.cover-left
	.cover-right
		height: inherit

	& > .columns
		&:first-child
			z-index:1
		&:last-child
			z-index:0

	.cover-left
		position       : relative
		margin         : 0
		padding        : 1em 2em 0 2em
		overflow-y     : scroll
		mixin-gradient(lighten($colors-1st, 97%), lighten($colors-1st, 94%))

	.cover-right
		position : relative
		overflow : hidden

		& > .cover-contain
			position   : absolute
			top        : 0
			left       : 0
			height     : inherit
			width      : 100%

		article
			position   : absolute
			height     : inherit
			width      : inherit

			.content
				z-index                 : 0
				position                : absolute
				left                    : 0
				top                     : 0
				width                   : 100%
				overflow                : hidden
				background              : black

			main.content
				height                  : 100%
				background              : no-repeat top right
				-webkit-background-size : cover
				-moz-background-size    : cover
				-o-background-size      : cover
				background-size         : cover

			video.content
				backgroun:green

			nav
				z-index:1
				position:absolute

				@media $media-medium-only
					width:75%

				&:.top
					top:0
					bottom:auto
				&.bottom
					bottom:0
					top:auto
				&.left
					left:0
					right:auto
				&.right
					right:0
					left:auto

				header
				footer
					display  : block
					position : relative
					overflow : hidden
					width    : 100%

				header
					mixin-font-heading()
					padding: 1em 2em
					h3
						text-transform: uppercase

					h4
						font-weight : bolder
						line-height : 1em
						margin-top  : 0

					@media $media-small-up
						font-size: 1em
					@media $media-medium-up
						font-size: 1.2em

				footer
					ul
						display    : block
						list-style : none
						overflow   : hidden
						position   : relative
						margin     : 0

					li
						display     : block
						position    : relative
						line-height : 50px
						padding     : 0 2em

					li:first-child
						float        : left
						padding-left : 0.5em
						mixin-font-heading()
						@media $media-small-up
							font-size: 15pt
						@media $media-medium-up
							font-size: 20pt
						@media $media-medium-portrait
							font-size: 25pt
						@media $media-large-up
							font-size: 30pt

					li:last-child
						display:none
						float     : right
						font-size : 16pt
						left      : 0.5em
						mixin-skew()
						mixin-font-heading()
						@media $media-large-up
							display:block
						@media $media-medium-landscape
							display:block

			for $i in (2..10)
				&:nth-child({$i})
					left:(($i - 1) * 100)%

			for $color,$i in $colors-normal
				&.color-{$i}
					a
						color: rgba(darken($color,3%), 1)
						&:hover
							color: $colors-hover[$i]
					h4 a:hover
							color: rgba(darken($color,3%),1)

				&.color-bg-{$i}
					header
						background  : rgba(lighten($color, 33%), 0.9)
						text-shadow : 1px 1px 0 darken($color, 50%)
					footer
						background: $color

						li:first-child a
							text-shadow 1px 1px 0px darken($color, 50%)
							@media $media-medium-up
								color: darken($color, 10%)
								text-shadow: 1px 1px 0 lighten($color, 33%),  -1px -1px 0 darken($color, 33%)

						li:last-child
							background: $colors-hover[$i]
							box-shadow: -0.1em 0 0.5em 0 rgba(darken($colors-hover[$i], 33%), 0.5)
							border-left: 1px solid rgba(lighten($colors-hover[$i],50%), 0.5)
							text-shadow: 1px 1px 0 darken($colors-hover[$i], 33%)
