// @import 'nib'

// $skew       = 25.62deg
// $height     = 150px
// $color-bg   = rgb(84,53,25)
// $color-line = rgb(255,153,51)



// &
// 	height     : $height
// 	background : $color-bg
// 	position   : relative

	
	









	


	
	
			

.divcolor
	
	border-right solid 2px #f93
	height 65%

	img 
		height 90%
	

.divcolor1
	border-right solid 2px #f93
	height 70%
.facebook
	height 2.3em
	padding-top 5px	

.twitter
	height 2.5em
	padding-top 5px
		

	
.divcolor2
	border-right solid 2px #f93
	height 70%
h3
	font-size .5em
	text-aling left
	padding 0,0,0,0 
	color white	

.size
	width 90%
.space
	margin-top .5em
	

	
		
 	 

.divcolor3	
	border-right solid 2px transparent
	height 70%

.txttel
	padding 0
	
