&
	position   : relative
	background : $colors-1st
	padding    : 1.5em 2em
	overflow   : hidden


	.left
		p, ul
			mixin-font-heading()

		p
			margin    :0
			padding   :0
			color     : $colors-normal[0]
			font-size : 11pt
		a
			color : $colors-hover[0]


	.right
		aside.social
			position :relative
			mixin-social(60px)