html,body
	height :100%
	width  :100%

h1,h2,h3,h4,h5,h6
	mixin-font-heading()

p
	mixin-font-paragraph()

strong
	font-weight: bold !important

html:not(.fallback) .gradient
	filter:none

#clients
	img
		width:100%

.button
	mixin-font-heading()
	font-size: 14pt !important


.rainbow
	overflow : hidden
	position : relative
	height   : 5px
	width    : 100%

	& > *
		position : relative
		display  : block
		float    : left
		height   : inherit
		width    : (100 / ((length($colors-hover))-(1)))%

@media $media-xlarge-up
	.columns.xlarge-1
		width: 8.333333%