$colors-1st    = #4d2a08
$colors-2nd    = #e67e17
$colors-normal = (rgba(255,255,255,0.7) #ba4eba #e6b650 #66ccaa #29b8ff #f067c2 #306eff #66cc66 #e65c67)
$colors-hover  = (rgba(255,255,255,  1) #9629cc #ffbf00 #00cc88 #0095ff #e617a1 #004CE6 #31cc29 #e62e4d)

$header-height = 105px

// angle that every box should have
$skew = 25.62deg

// 0     ,  640px
// 641px , 1024px
// 1025px, 1440px
// 1441px, 1920px
// 1921px

$range-small   = (0em 40em)
$range-medium  = (40.063em 64em)
$range-large   = (64.063em 90em)
$range-xlarge  = (90.063em 120em)
$range-xxlarge = (120.063em)

$screen    		  = 'only screen'
$screen-landscape = $screen + ' and (orientation: landscape)'
$screen-portrait  = $screen + ' and (orientation: portrait)'

$media-small-up        =  $screen
$media-small-only      =  $screen            + ' and (max-width:' + $range-small[1] + ')'
$media-small-landscape =  $screen-landscape  + ' and (max-width:' + $range-small[1] + ')'
$media-small-portrait  =  $screen-portrait   + ' and (max-width:' + $range-small[1] + ')'

$media-medium-up        = $screen            + ' and (min-width:' + $range-medium[0] + ')'
$media-medium-only      = $screen            + ' and (min-width:' + $range-medium[0] + ') and (max-width:' + $range-medium[1] + ')'
$media-medium-landscape = $screen-landscape  + ' and (min-width:' + $range-medium[0] + ') and (max-width:' + $range-medium[1] + ')'
$media-medium-portrait  = $screen-portrait   + ' and (min-width:' + $range-medium[0] + ') and (max-width:' + $range-medium[1] + ')'

$media-large-up        = $screen             + ' and (min-width:' + $range-large[0] + ')'
$media-large-only      = $screen             + ' and (min-width:' + $range-large[0] + ') and (max-width:' + $range-large[1] + ')'
$media-large-landscape = $screen-landscape   + ' and (min-width:' + $range-large[0] + ') and (max-width:' + $range-large[1] + ')'
$media-large-portrait  = $screen-portrait    + ' and (min-width:' + $range-large[0] + ') and (max-width:' + $range-large[1] + ')'

$media-xlarge-up        = $screen            + ' and (min-width:' + $range-xlarge[0] + ')'
$media-xlarge-only      = $screen            + ' and (min-width:' + $range-xlarge[0] + ') and (max-width:' + $range-xlarge[1] + ')'
$media-xlarge-landscape = $screen-landscape  + ' and (min-width:' + $range-xlarge[0] + ') and (max-width:' + $range-xlarge[1] + ')'
$media-xlarge-portrait  = $screen-portrait   + ' and (min-width:' + $range-xlarge[0] + ') and (max-width:' + $range-xlarge[1] + ')'

$media-xxlarge-up        = $screen           + ' and (min-width:' + $range-xxlarge[0] + ')'
$media-xxlarge-only      = $screen           + ' and (min-width:' + $range-xxlarge[0] + ')'
$media-xxlarge-landscape = $screen-landscape + ' and (min-width:' + $range-xxlarge[0] + ')'
$media-xxlarge-portrait  = $screen-portrait  + ' and (min-width:' + $range-xxlarge[0] + ')'

mixin-skew()
	-webkit-transform : skew(-1 * $skew)
	-moz-transform    :	skew(-1 * $skew)
	-ms-transform     : skew(-1 * $skew)
	-o-transform      : skew(-1 * $skew)
	transform         : skew(-1 * $skew)

	& span
		display: block
		-webkit-transform : skew($skew)
		-moz-transform    :	skew($skew)
		-ms-transform     : skew($skew)
		-o-transform      : skew($skew)
		transform         : skew($skew)

mixin-after-fill()
	content  : " "
	display  : block
	position : absolute
	width    : 100%
	height   : 100%
	top      : 0
	left     : 0


mixin-font-heading()
	font-family : 'Cabin', sans-serif
	font-weight : 700



mixin-font-paragraph()
	font-size   : 17px
	font-family : 'Nobile', sans-serif
	font-weight : 400
	line-height : 1.5em


mixin-icon(name, pos, mask=no)
	background-image    : url('http://s3.amazonaws.com/uat-website/icons/'(name)'.svg')
	background-repeat   : no-repeat
	background-size     : 100% auto
	background-position : 0 (-1 * pos)

	.no-svg &
		background-image : url('http://s3.amazonaws.com/uat-website/icons/'(name)'.png')

	if mask

		&:after
			background    : mask
			box-shadow    : 0 0 0 1px mask
			mixin-after-fill()

		&:hover:after
			display:none


mixin-social(size, mask=no)
	display  : block
	height   : size

	ul
		list-style : none
		padding    : 0
		margin     : 0

		li
			position    : relative
			width       : size
			line-height : size
			padding     : 0
			margin      : 0 0 0 .5em
			text-indent : -300em

			a
				position : relative
				display  : block
				width    : inherit
				height   : inherit

				&.facebook
					mixin-icon(social, (4 * size), mask)

				&.twitter
					mixin-icon(social, (14 * size), mask)

				&.email
					mixin-icon(social, (3 * size), mask)

mixin-gradient(color1, color2)
	background: color1
	background: -moz-linear-gradient(top, color1 0%, color2 100%)
	background: -webkit-gradient(left top, left bottom, color-stop(0%, color1), color-stop(100%, color2))
	background: -webkit-linear-gradient(top, color1 0%, color2 100%)
	background: -o-linear-gradient(top, color1 0%, color2 100%)
	background: -ms-linear-gradient(top, color1 0%, color2 100%)
	background: linear-gradient(to bottom, color1 0%, color2 100%)