&
	z-index  : 2
	display  : block
	position : absolute
	right    : 5px
	top      : 5px
	height   :30px

	ul
		list-style: none
		padding :0
		margin  :0

		li
			position:relative
			width       : 30px
			line-height : 30px
			padding     : 0
			margin      : 0 0 0 .5em
			text-indent : -300em

			a
				position:relative
				display :block
				width   :inherit
				height  :inherit

				&.facebook
					mixin-icon(social, 120px, rgba($colors-1st, 0.5))

				&.twitter
					mixin-icon(social, 420px, rgba($colors-1st, 0.5))

				&.email
					mixin-icon(social, 90px, rgba($colors-1st, 0.5))
