nav.top-bar
	
	ul.title-area li.name
		
		h1
			padding-left: 1em

			a
				background      : url('/static/logo.png') no-repeat center center
				background-size : auto 85px
				text-indent     : -3000px
				overflow        : hidden
				width           : 200px
