&
	position   : relative
	height     : $header-height
	background : $colors-1st

	// Logotype
	h1#header-logo
		z-index: 1
		@import 'header-logo'

	// Line spanning accross header
	span#header-line
		z-index: 0
		@import 'header-line'

	nav#header-menu
		z-index: 2

	aside.social
		z-index: 9
		display:none

	@media screen and (max-width:768px)
		@import 'header-small'

	@media screen and (min-width:769px)

		&
			overflow:hidden

		a#header-button
			display:none

		nav#header-menu
			@import 'header-menu'

		aside.social
			position : absolute
			right    : 5px
			top      : 5px

			mixin-social(30px, rgba($colors-1st, 0.5))



