& 
	position: absolute
	right: 0

	& > .alert-box

		padding      : 0 1.5rem
		line-height  : 3em
		font-weight  : bold
		margin-right : 1em
		margin-top   : 1em
		border       :0

		&.warning
			background:brown;

		&  a.close
			color: #fff

		& span
			display:block
			margin-right: 1em