extends master

block body

	header: include ../common/body-header
	
	#content
		header: include ../common/article-header

		.large-12.small-12.medium-12.columns.app-video

			block content
		
		footer: include ../common/article-footer
		
	footer: include ../common/body-footer
		