extends master

block body
	section.row.template-article-init

		header.body-header
			include ../common/body-header

		section.body-content

			header.article-header
				include ../common/article-header

			section.article-author.large-12.columns
				section.article-author-name.left
					block author-name

				section.article-author-photo.right.text-right
					block author-photo
				hr

			//- Small devices get full-width no matter the orientation.
			.small-12.columns.hide-for-medium-up
				section.article-content-photo
					block content-photo
				section.article-content
					block content

			//- Medium devices and up take orientation into account.
			//- Portrait
			.medium-12.columns.show-for-medium-up: .hide-for-landscape
				section.article-content-photo
					block content-photo
				section.article-content
					block content

			//- Landscape
			.medium-6.columns.show-for-medium-up: .hide-for-portrait
				section.article-content-photo-left
					block content-photo-left
				section.article-content-left
					block content-left
			.medium-6.columns.show-for-medium-up: .hide-for-portrait
				section.article-content-right
					block content-right

			footer.article-footer
				include ../common/article-footer

		footer.body-footer
			include ../common/body-footer
