include ../mixins/auto

!!!5
//if IE 8
	html.no-js.lt-ie9(lang='es', class=is_desktop?'is_desktop':'')

// [if gt IE 8] <!
html.no-js(lang="es",class=is_desktop?'is_desktop':'')
	// <![endif]

	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		if locals.META && META.length
			+auto('meta', META)
		block meta

		title= (TITLE? TITLE + ' | ' : '') + (NAME || '')

		link(rel='shortcut icon', href='/static/favicon.ico')
		link(rel='stylesheet',    href='/static/foundation/css/foundation.css')
		link(rel='stylesheet',    href='/static/foundation/ico/foundation-icons.css')
		if locals.LINK && LINK.length
			+auto('link', LINK)
		block link

		script(src='/static/foundation/js/vendor/modernizr.js')

	body
		block body

		script(src='/static/foundation/js/vendor/jquery.js')
		script(src='/static/foundation/js/vendor/fastclick.js')
		script(src='/static/foundation/js/foundation.min.js')
		if locals.SCRIPT && SCRIPT.length
			+auto('script', SCRIPT)
		script.
			$(document).foundation()
		block script
