.row.collapse(data-equalizer)
	.large-8.small-12.large-offset-1.columns.large-centered(data-equalizer-watch)
		form(method="POST")
			.row: .large-12.small-12.columns
				h2: a Contáctanos
			.row: .large-12.small-12.columns
				label.required: span Nombre
				input(type='text', name="name", placeholder='Nombre', required)
			.row: .large-12.small-12.columns
				label.required Tu correo
				input(type='email', name="email", placeholder='Correo', required)
			.row: .large-12.small-12.columns
				label.required Teléfono
				input(type='text', name="phone", placeholder='Teléfono')
			.row: .large-12.small-12.columns
				label.required Ciudad
				input(type='text', name="city", placeholder='Ciudad')
			.row: .large-12.small-12.columns
				label.required Asunto
				input(type='text', name="subject", placeholder='Asunto', required)
			.row: .large-12.small-12.columns
				label.required ¿En qué te pondemos ayudar?
				textarea(rows='6', name="body", required)
			.row
				.large-12.small-12.columns
					button.button.small.radius(type='submit').right Enviar

