// @media all and (orientation &:portrait)
// 	img
// 		width : 100%
// 		height: auto
// 	h1
// 		text-transform : uppercase

@media all and (orientation:portrait)
	body
		background: #79be6a
	h1
		text-transform:uppercase
	img
		width : 100%
		height: auto

@media all and (orientation:landscape)
	body
		background: #e3e3e3
	img
		width : auto
		height: 100%
	h1
		text-transform : lowercase
