
mixin advertisers(advertisers)
	#clients.row.collapse: #clients-slider
		for advertiser in advertisers
			.slide: a(href=advertiser.href || '#', target="_blank", onclick="tracklOutboundLink('" + advertiser.href + "')", return)
				img(src=advertiser.src)
