mixin auto(name, props)
	each prop in props
		- attributes = []
		each val,key in prop
			- attributes[key] = val
		case name
			when 'meta'
				meta(attributes)
			when 'link'
				link(attributes)
			when 'script'
				script(attributes)
