#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 Artículos de nuestros patrocinadores
		p
			| Este apartado es un medio de comunicación directa entre los usuarios de este portal y nuestros patrocinadores.

		p En él podrás encontrar información sobre las Empresas que nos apoyan que van desde temas técnicos y científicos sobre alimentos, equipos o medicamentos, hasta lo más novedoso en cuanto a productos y servicios que ellos te ofrecen.

	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/royal.jpg')")
		
		article
			.uno
				h3: a(href="https://www.yumpu.com/hr/document/fullscreen/26761063/o-18vlhjsb75m45b594u1duk1h79updf") Guía de productos Royal Canin
				h4: a(href="https://www.yumpu.com/hr/document/fullscreen/26761063/o-18vlhjsb75m45b594u1duk1h79updf") Royal Canin
			.dos
				a.uno(href="https://www.yumpu.com/hr/document/fullscreen/26761063/o-18vlhjsb75m45b594u1duk1h79updf") 
				a.dos(href="https://www.yumpu.com/hr/document/fullscreen/26761063/o-18vlhjsb75m45b594u1duk1h79updf") Leer Artículo

	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6

#clients.row.collapse
	#clients-slider
		.slide: a(href="http://www.merial.com.mx"): img(src="/static/images/logos/01.png")
		.slide: a(href="http://www.ceamvet.com.mx"): img(src="/static/images/logos/02.jpg")
		.slide: a(href="http://www.bio-zoo.com.mx"): img(src="/static/images/logos/03.jpg")
		.slide: a(href="http://www.vetoquinol.mx"): img(src="/static/images/logos/04.jpg")
		.slide: a(href="http://www.archnovo.com.mx/"): img(src="/static/images/logos/05.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/06.jpg")
		.slide: a(href="http://santgar.com/"): img(src="/static/images/logos/07.png")
		.slide: a(href="http://www.elanco.com.mx"): img(src="/static/images/logos/08.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/09.jpg")
		.slide: a(href="http://www.petlocator.com.mx"): img(src="/static/images/logos/10.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/11.jpg")
		.slide: a(href="http://www.maico.cc/"): img(src="/static/images/logos/12.jpg")
		.slide: a(href="https://www.idexx.com/"): img(src="/static/images/logos/13.jpg")
		.slide: a(href="http://www.royalcanin.com.mx/"): img(src="/static/images/logos/14.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/15.jpg")
		.slide: a(href="http://www.acmevez.mx"): img(src="/static/images/logos/16.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/17.jpg")
		.slide: a(href="http://www.frontline.com.mx"): img(src="/static/images/logos/18.png")
		.slide: a(href="http://www.qvet.net"): img(src="/static/images/logos/19.jpg")
		.slide: a(href="http://www.fcm.mx"): img(src="/static/images/logos/20.jpg")
		.slide: a(href="http://www.vettv.org"): img(src="/static/images/logos/21.jpg")
		.slide: a(href="http://bayersanidadanimal.com.mx/es/.../advantage-multi"): img(src="/static/images/logos/22.jpg")
		.slide: a(href="http://www.petmmal.com.mx"): img(src="/static/images/logos/23.jpg")
		.slide: a(href="http://www.cirugiaveterinaria.com/"): img(src="/static/images/logos/24.png")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/24.jpg")
		.slide: a(href="http://www.ammvee.org.mx/"): img(src="/static/images/logos/25.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/26.jpg")
		.slide: a(href="http://www.norvet.com.mx"): img(src="/static/images/logos/27.jpg")
		.slide: a(href="http://www.pavet.com.mx"): img(src="/static/images/logos/28.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/29.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/30.jpg")
		.slide: a(href="http://www.ropasanluis.com.mx/"): img(src="/static/images/logos/31.jpg")
		.slide: a(href="https://desego.com"): img(src="/static/images/logos/32.jpg")

#magazines.row.collapse
	#magazines-header
		a.uno(href=ﬁ.bundles['magazines']) Artículos
		
	
	#magazines-issues.row

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/hr/document/fullscreen/26761063/o-18vlhjsb75m45b594u1duk1h79updf")
					img(src="/static/images/sponsors/thumbnails/guia_royal.png")
				figcaption
					h4: a(href="#") Guía Royal
					aside: a(href="#") Royal Canin

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26761064/toxocariasis")
					img(src="/static/images/sponsors/thumbnails/J263-Prantel.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Toxocariasis
					aside: a(href=ﬁ.bundles['magazines']) PISA

		.hide-for-small.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26761065/diarreas-bacterianas-en-perros-y-gatos")
					img(src="/static/images/sponsors/thumbnails/diarreas.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Diarreas bacterianas
					aside: a(href=ﬁ.bundles['magazines']) PISA

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26761067/guia-para-el-medico-veterinario")
					img(src="/static/images/sponsors/thumbnails/manual.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Guía para el veterinario
					aside: a(href=ﬁ.bundles['magazines']) Elanco

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26761071/o-18vlhjsb81m9310ububm1p3k99h14pdf")
					img(src="/static/images/sponsors/thumbnails/pisaliv_vet.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Antibióticoterapia
					aside: a(href=ﬁ.bundles['magazines']) PISA

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26761058/terapia-de-fluidos")
					img(src="/static/images/sponsors//thumbnails/terapia_de_Fluidos.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Terapia de Fluídos
					aside: a(href=ﬁ.bundles['magazines']) PISA

