.row
	h2 Artículos de los Patrocinadores
	p Este apartado es un medio de comunicación directa entre los usuarios de este portal y nuestros patrocinadores.
	p En el podrás encontrar información sobre las Empresas que nos apoyan que van desde temas técnicos y científicos
	p sobre alimentos, equipos o medicamentos, hasta lo más novedoso en cuanto a productos y servicios que ellos te ofrecen.
	.large-4.medium-3.small-12.columns(style="border:1px solid red")

		