mixin news(isSmall)
	if isSmall
		div: img(src="//placehold.it/300x150&text=Noticia", width="100%", style="margin-bottom:1em")
	else
		img(src="//placehold.it/300x200&text=Noticia").left
	h4: a.secondary(href="#") Título de la Noticia
	h6.subheader
		a(href="#") @HectorMenendez
		span •
		a(href="#") 2h
	p Lorem ipsum Anim Duis aliqua fugiat dolore consectetur nostrud in laborum sed labore eiusmod in nisi enim commodo qui ullamco sed aliqua laborum esse officia ex pariatur labore aliqua ea tempor minim tempor id enim ea consectetur exercitation consectetur quis enim elit laborum velit et reprehenderit commodo pariatur voluptate Excepteur nisi ut ea Duis qui sed consequat deserunt esse officia cupidatat commodo tempor pariatur pariatur Duis anim et non et labore fugiat elit sit ut reprehenderit cillum laboris est Ut dolore non dolor exercitation velit sed magna mollit anim et eu consequat reprehenderit exercitation qui qui dolor aliquip elit pariatur dolore anim sunt commodo id tempor cillum qui mollit quis est culpa in veniam exercitation ad mollit ad qui cupidatat Ut proident et in ut amet aliquip exercitation magna irure veniam sed aliquip reprehenderit ut sunt ad ad quis nostrud nostrud velit labore aliquip voluptate non magna magna quis consectetur ea anim ea.

if USER.type == 'admin' && is_desktop

	#home-news-admin.row: .large-12.columns
		h5.subheader
			span.fi-lock &nbsp;
			span Publicar Noticia
		form: .row.collapse
			.large-10.small-12.columns
				textarea(rows="7")
			.large-2.small-12.columns
				input(type="file", accept="image/*", name="file", multiple, value="Subir fotos")

				a(href="#").button.expand.secondary
					span.fi.fi-photo
					span Imágenes …
				a(href="#").button.expand
					span.fi.fi-arrow-up
					span Publicar


.row#home-news(style="margin-top:1em")

	//- Small devices get full-width no matter the orientation.
	.small-12.columns.hide-for-medium-up: +news(true)
	.small-12.columns.hide-for-medium-up: +news(true)
	.small-12.columns.hide-for-medium-up: +news(true)

	//- Medium devices and up take orientation into account.
	//- Portrait
	.medium-12.columns.show-for-medium-up: .hide-for-landscape
		+news()
	.medium-12.columns.show-for-medium-up: .hide-for-landscape
		+news()
	.medium-12.columns.show-for-medium-up: .hide-for-landscape
		+news()

	//- Landscape
	.medium-6.columns.show-for-medium-up: .hide-for-portrait
		+news(true)
	.medium-6.columns.show-for-medium-up: .hide-for-portrait
		+news(true)
	.medium-6.columns.show-for-medium-up: .hide-for-portrait
		+news(true)
	.medium-6.columns.show-for-medium-up: .hide-for-portrait
		+news(true)
	.medium-6.columns.show-for-medium-up: .hide-for-portrait
		+news(true)
	.medium-6.columns.show-for-medium-up: .hide-for-portrait
		+news(true)

