body > #content  > .row.collapse
	max-width:100%

#cover
	background: linear-gradient(to bottom,  #FFFCF3 0%, #DFDCD3 100%);

	#cover-rainbow
		z-index  :0
		overflow :hidden
		position :relative
		height   :5px
		width: 100%
		.color
			position :relative
			display  :block
			float    :left
			height   :inherit
			width    :16.666%
	
			&.color1
				background: #943A6C
			&.color2
				background: #D9B24A
			&.color3
				background: #48B8B0
			&.color4
				background: #3E8FC5
			&.color5
				background: #DD5988
			&.color6
				background: #8DB23B

	#cover-welcome
		z-index:1
		padding      :0.5em 2em
		border-right : 1px solid white
		box-shadow   : 10px 0 10px -2px rgba(0,0,0,0.5);

		&:after
			z-index: 999
			content    :" "
			display    :block
			position   :absolute
			height     :100%
			width      :1px
			top        :0
			right      :-2px
			background :#E7E2DB

		h2.color1
			color: #943A6C

		p
			color: rgb(84,53,25)

	#cover-article
		z-index:0
		background: no-repeat top right;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		article
			position:absolute
			bottom: 0
			right: 0
			max-width:75%
			background: rgba(230, 188, 78, 0.85)
			font-weight : 700


			div.uno 
				margin: 1em 2em 1em 2em

				& > *
					font-family : 'Cabin', sans-serif;
					text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
					a
						color : white
					
				h3
					text-transform: uppercase
					font-size: 20pt
				h4
					font-size: 18pt

			div.dos
				line-height:3em
				background: rgba(253, 187, 44, 0.9)
				overflow: hidden
				font-family : 'Cabin', sans-serif;
				text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);

				a
					color: white
					display:block
					padding: 0 2em

					&.uno
						float:left
						font-size: 18pt
						text-transform: uppercase
						padding-left: 1em
						color: rgb(255, 255, 238)
						text-shadow: 0 -1px 0 #888;
							
					&.dos
						float:right
						background: rgb(210, 160, 53)
						font-style  : italic
						font-size   : 15pt

#clients-slider
	.slide 
		position:relative
		margin: 1em 0.5em
		text-align:center
		overflow:hidden
		border-radius: 0.25em
		border: 1px solid #ECECEC

		a
			position:absolute
			display:block
			top: 0
			left:0
			height:100%

		img
			position:relative
			top:50%
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%)
			width:100%
