#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 ¡Bienvenido!
		p
			strong REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos veterinarios, estudiantes de veterinaria, académicos y personas interesadas en la medicina tanto de equinos, pequeñas especies y animales exóticos o de zoológico.

		p En sus páginas se analizan temas actuales de la medicina veterinaria, casos clínicos y procedimientos de vanguardia, con aportaciones de los especialistas más reconocidos de nuestro país y del extranjero.

		p
			strong REMEVET&nbsp;
			| es el mejor medio en español para estar actualizado y aprender sobre los avances médicos, procedimientos actuales y casos clínicos.

		a.button.color1.right(href=ﬁ.bundles['aboutus']) Conócenos

	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/01.jpg')")
		
		article
			.uno
				h3: a(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre") Bases del Bienestar Animal en Fauna Silvestre
				h4: a(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre") MVZ. M en C. Adriana Cossío Bayúgar
			.dos
				a.uno(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre") Fauna Silvestre
				a.dos(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre") Leer Artículo

	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6

#clients.row.collapse
	#clients-slider
		.slide: a(href="http://www.merial.com.mx"): img(src="/static/images/logos/01.png")
		.slide: a(href="http://www.ceamvet.com.mx"): img(src="/static/images/logos/02.jpg")
		.slide: a(href="http://www.bio-zoo.com.mx"): img(src="/static/images/logos/03.jpg")
		.slide: a(href="http://www.vetoquinol.mx"): img(src="/static/images/logos/04.jpg")
		.slide: a(href="http://www.archnovo.com.mx/"): img(src="/static/images/logos/05.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/06.jpg")
		.slide: a(href="http://santgar.com/"): img(src="/static/images/logos/07.png")
		.slide: a(href="http://www.elanco.com.mx"): img(src="/static/images/logos/08.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/09.jpg")
		.slide: a(href="http://www.petlocator.com.mx"): img(src="/static/images/logos/10.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/11.jpg")
		.slide: a(href="http://www.maico.cc/"): img(src="/static/images/logos/12.jpg")
		.slide: a(href="https://www.idexx.com/"): img(src="/static/images/logos/13.jpg")
		.slide: a(href="http://www.royalcanin.com.mx/"): img(src="/static/images/logos/14.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/15.jpg")
		.slide: a(href="http://www.acmevez.mx"): img(src="/static/images/logos/16.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/17.jpg")
		.slide: a(href="http://www.frontline.com.mx"): img(src="/static/images/logos/18.png")
		.slide: a(href="http://www.qvet.net"): img(src="/static/images/logos/19.jpg")
		.slide: a(href="http://www.fcm.mx"): img(src="/static/images/logos/20.jpg")
		.slide: a(href="http://www.vettv.org"): img(src="/static/images/logos/21.jpg")
		.slide: a(href="http://bayersanidadanimal.com.mx/es/.../advantage-multi"): img(src="/static/images/logos/22.jpg")
		.slide: a(href="http://www.petmmal.com.mx"): img(src="/static/images/logos/23.jpg")
		.slide: a(href="http://www.cirugiaveterinaria.com/"): img(src="/static/images/logos/24.png")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/24.jpg")
		.slide: a(href="http://www.ammvee.org.mx/"): img(src="/static/images/logos/25.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/26.jpg")
		.slide: a(href="http://www.norvet.com.mx"): img(src="/static/images/logos/27.jpg")
		.slide: a(href="http://www.pavet.com.mx"): img(src="/static/images/logos/28.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/29.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/30.jpg")
		.slide: a(href="http://www.ropasanluis.com.mx/"): img(src="/static/images/logos/31.jpg")
		.slide: a(href="https://desego.com"): img(src="/static/images/logos/32.jpg")

#magazines.row.collapse
	#magazines-header
		a.uno(href=ﬁ.bundles['magazines']) Revistas
		a.dos(href=ﬁ.bundles['magazines']) Ver números anteriores
	
	#magazines-issues.row

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760948/remevet-pequenas-especies")
					img(src="/static/images/magazines/pequenas/thumbnails/pe_20.png")
				figcaption
					h4: a(href="#") Pequeñas Especies
					aside: a(href="#") 20

		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre")
					img(src="/static/images/magazines/fauna/thumbnails/fs_08.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Fauna Silvestre
					aside: a(href=ﬁ.bundles['magazines']) 08

		.hide-for-small.medium-4.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760644/revision-medica-equina-23")
					img(src="/static/images/magazines/equinos/thumbnails/eq_23.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Equinos
					aside: a(href=ﬁ.bundles['magazines']) 23

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760707/revision-medica-pequenas-especies-19")
					img(src="/static/images/magazines/pequenas/thumbnails/pe_19.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Pequeñas Especies
					aside: a(href=ﬁ.bundles['magazines']) 19

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760661/revision-medica-fauna-silvestre-7")
					img(src="/static/images/magazines/fauna/thumbnails/fs_07.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Fauna Silvestre
					aside: a(href=ﬁ.bundles['magazines']) 07

		.hide-for-small.hide-for-medium.large-2.columns
			figure.magazine
				a(href="https://www.yumpu.com/es/document/fullscreen/26760647/revision-medica-equina-22")
					img(src="/static/images/magazines/equinos/thumbnails/eq_22.png")
				figcaption
					h4: a(href=ﬁ.bundles['magazines']) Equinos
					aside: a(href=ﬁ.bundles['magazines']) 22

#events.row.collapse

	#events-header
		a.uno(href=ﬁ.bundles['calendar']) Eventos
		a.dos(href=ﬁ.bundles['calendar']) Ver calendario
	
	#events-event.row
		.small-12.medium-6.large-4.columns
			figure.event
				figcaption
					aside: a(href=ﬁ.bundles['calendar']) SEP
					h4.normal: a(href=ﬁ.bundles['calendar']) Congreso Veterinario de León
				a(href=ﬁ.bundles['calendar'])
					img(src="/static/images/events/small.02.jpg")


		.small-12.medium-6.large-4.columns
			figure.event
				figcaption
					aside: a(href=ﬁ.bundles['calendar']) OCT
					h4: a(href=ﬁ.bundles['calendar']) 2o Taller: Elaboración de planes de negocio
				a(href=ﬁ.bundles['calendar'])
					img(src="/static/images/events/small.03.jpg")

		.small-12.hide-for-medium.large-4.columns
			figure.event
				figcaption
					aside: a(href=ﬁ.bundles['calendar']) OCT
					h4: a(href=ﬁ.bundles['calendar']) Congreso Internacional: Zoonosis, Cambio climático y Sociedad
				a(href=ﬁ.bundles['calendar'])
					img(src="/static/images/events/small.04.jpg")
