if USER.type == 'admin' && is_desktop

	#home-news-admin.row: .large-12.columns
		h5.subheader
			span.fi-lock &nbsp;
			span Publicar Noticia
		form: .row.collapse
			.large-10.small-12.columns
				textarea(rows="7")
			.large-2.small-12.columns
				input(type="file", accept="image/*", name="file", multiple, value="Subir fotos")

				a(href="#").button.expand.secondary
					span.fi.fi-photo
					span Imágenes …
				a(href="#").button.expand
					span.fi.fi-arrow-up
					span Publicar
