#home-news-admin

	.button
		margin:0

	textarea
		resize:none

	input[type="file"]
		display:none


#home-news

	img.left
		margin: 0 1em 0.5em 0

	h4,h6

		line-height : 0.8em
		margin      : 0

		&:not(h4)
			font-size   : 0.7em
			line-height : 1em
			margin      : 0.5em 0 1em

			& > *
				margin-right: 0.5em

			a
				color: #666
			a:hover
				color: #C03
