#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 ¡Bienvenido!
		p
			strong REVISIÓN MÉDICA VETERINARIA&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos veterinarios, estudiantes de veterinaria, académicos y personas interesadas en la medicina tanto de equinos, pequeñas especies y animales exóticos o de zoológico.

		p En sus páginas se analizan temas actuales de la medicina veterinaria, casos clínicos y procedimientos de vanguardia, con aportaciones de los especialistas más reconocidos de nuestro país y del extranjero.

		p
			strong REVISIÓN MÉDICA VETERINARIA&nbsp;
			| es el mejor medio en español para estar actualizado y aprender sobre los avances médicos, procedimientos actuales y casos clínicos.

		a.button.color1.right(href=ﬁ.bundles['aboutus']) Conócenos

	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/01.jpg')")
		
		article
			div.uno
				h3: a(href="#") Bases del Bienestar Animal en Fauna Silvestre
				h4: a(href="#") MVZ. M en C. Adriana Cossío Bayúgar
			div.dos
				a.uno(href="#") Fauna Silvestre
				a.dos(href="https://www.yumpu.com/es/document/fullscreen/26760937/fauna-silvestre") Leer Artículo
