#cover.row.collapse

	#cover-welcome.medium-5.large-4.columns
		h2.color1 ¡Bienvenido!
		p
			strong REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos veterinarios, estudiantes de veterinaria, académicos y personas interesadas en la medicina tanto de equinos, pequeñas especies y fauna silvestre en general.

		p.hide-for-small.hide-for-medium En sus páginas se analizan temas actuales de la medicina veterinaria, casos clínicos y procedimientos de vanguardia, con aportaciones de los especialistas más reconocidos de nuestro país y del extranjero.

		p.hide-for-small.hide-for-medium
			strong REMEVET&nbsp;
			| es el mejor medio en español para estar actualizado y aprender sobre los avances médicos, procedimientos actuales y casos clínicos.

		a.button.color1.right(href=ﬁ.bundles['about']) Conócenos

	#cover-article.large-8.medium-7.columns(style="background:white")
		video#video(controls, autoplay)
			source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.mp4", type="video/mp4")
			source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.ogg", type="video/ogg")

	.rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6


#clients.row.collapse

	#clients-slider
		.slide: a(href="http://www.laveccs.org/"): img(src="/static/images/logos/33.png")
		.slide: a(href="http://www.merial.com.mx"): img(src="/static/images/logos/01.png")
		.slide: a(href="http://www.ceamvet.com.mx"): img(src="/static/images/logos/02.jpg")
		.slide: a(href="http://www.bio-zoo.com.mx"): img(src="/static/images/logos/03.jpg")
		.slide: a(href="http://www.vetoquinol.mx"): img(src="/static/images/logos/04.jpg")
		.slide: a(href="http://www.archnovo.com.mx/"): img(src="/static/images/logos/05.jpg")
		.slide: a(href="http://www.platinumperformance.com//international/mexico/"): img(src="/static/images/logos/06.jpg")
		.slide: a(href="http://santgar.com/"): img(src="/static/images/logos/07.png")
		.slide: a(href="http://www.elanco.com.mx"): img(src="/static/images/logos/08.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/09.jpg")
		.slide: a(href="http://www.petlocator.com.mx"): img(src="/static/images/logos/10.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/11.jpg")
		.slide: a(href="http://www.maico.cc/"): img(src="/static/images/logos/12.jpg")
		.slide: a(href="https://www.idexx.com/"): img(src="/static/images/logos/13.jpg")
		.slide: a(href="http://www.royalcanin.com.mx/"): img(src="/static/images/logos/14.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/15.jpg")
		.slide: a(href="http://www.acmevez.mx"): img(src="/static/images/logos/16.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/17.jpg")
		.slide: a(href="http://www.frontline.com.mx"): img(src="/static/images/logos/18.png")
		.slide: a(href="http://www.fcm.mx"): img(src="/static/images/logos/20.jpg")
		.slide: a(href="http://www.vettv.org"): img(src="/static/images/logos/21.jpg")
		.slide: a(href="http://www.petmmal.com.mx"): img(src="/static/images/logos/23.jpg")
		.slide: a(href="http://www.cirugiaveterinaria.mx/"): img(src="/static/images/logos/24.png")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/24.jpg")
		.slide: a(href="http://www.ammvee.org.mx/"): img(src="/static/images/logos/25.jpg")
		.slide: a(href="http://eldelguantesote.blogspot.mx/"): img(src="/static/images/logos/26.jpg")
		.slide: a(href="http://www.norvet.com.mx"): img(src="/static/images/logos/27.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/29.jpg")
		.slide: a(href="http://www.ropasanluis.com.mx/"): img(src="/static/images/logos/31.jpg")
		.slide: a(href="https://desego.com"): img(src="/static/images/logos/32.jpg")

	.rainbow
		.color.color3
		.color.color6
		.color.color5
		.color.color4
		.color.color2
		.color.color1

.row.collapse
	#magazines.small-12.medium-6.large-6.columns
		#magazines-header
			a.uno(href=ﬁ.bundles['magazines']) Revistas
			a.dos(href=ﬁ.bundles['magazines']) Ver anteriores

		#magazines-issues.row
			for pdf in pdfs
				.small-4.medium-6.large-4.columns
					figure.magazine
						a(href=ﬁ.settings.app.pdf.url+pdf.file+ﬁ.settings.app.pdf.opts)
							img(src=pdf.image)
						figcaption
							h4: a(href="#")=pdf.name
							aside: a(href="#")=pdf.issue


	#events.small-12.medium-6.large-6.columns

		#events-header
			a.uno(href=ﬁ.bundles['events']) Eventos
			a.dos(href=ﬁ.bundles['events']) Ver calendario

		#events-event.row
			.small-6.medium-6.large-4.columns
				figure.event
					a(href=ﬁ.bundles['events'])
						img(src="/static/images/events/small.06.jpeg")
					figcaption
						aside: a(href=ﬁ.bundles['events']) Octubre


			.small-6.medium-6.large-4.columns
				figure.event
					a(href=ﬁ.bundles['events'])
						img(src="/static/images/events/small.03.jpg")
					figcaption
						aside: a(href=ﬁ.bundles['events']) Octubre

			.hide-for-small.hide-for-medium.large-4.columns
				figure.event
					a(href=ﬁ.bundles['events'])
						img(src="/static/images/events/small.04.jpg")
					figcaption
						aside: a(href=ﬁ.bundles['events']) Octubre
