#magazines
	background: #FEF9E5

	#magazines-issues
		padding: 1.5em 0

		figure.magazine
			margin:0

			& > a
				z-index:0
				position:relative
				display:block
				top:0
				left:0
				height:100%

			& > figcaption
				z-index:1
				position:relative
				display:block
				background: #fff
				overflow:hidden

				& > *
					position    :relative
					font-family : 'Cabin', sans-serif
					font-weight : 700
					line-height : 25px
					margin      : 0
					padding     : 0

					a
						padding: 0 0.5em
						font-size:14pt

				aside
					float:right
					background: #D9B24A
					a
						color: white
						text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);


				h4
					float:left
					a
						color: rgb(84,53,25)



	#magazines-header
		line-height:3em
		background: #D9B24A
		overflow: hidden
		font-family : 'Cabin', sans-serif;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);

		a
			color: white
			display:block
			padding: 0 2em

			&.uno
				float:left
				font-size: 18pt
				text-transform: uppercase
				padding-left: 1em
				color: rgb(255, 255, 238)
				text-shadow: 0 -1px 0 #888;

			&.dos
				float:right
				background: rgb(210, 160, 53)
				font-style  : italic
				font-size   : 15pt

#events
	background: #DBF4F2

	#events-event

		figure.event
			margin: 1.5em 0 1.5em 0

			img
				width: 100%

			& > a
				z-index:0
				position:relative
				display:block
				top:0
				left:0
				height:100%

			& > figcaption
				z-index:1
				position:relative
				display:block
				background: #fff
				overflow:hidden

				& > *
					position    :relative
					font-family : 'Cabin', sans-serif
					font-weight : 700
					margin      : 0
					padding     : 0

					a
						display:block
						position:relative
						padding: 0 0.5em
						font-size: 14pt

				aside
					background: #3DB7AD
					text-align:center
					line-height : 40px
					a
						color: white
						text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);


				h4
					float:left
					max-width: 80%
					padding:0.25em 0
					a
						color: rgb(84,53,25)


	#events-header
		line-height:3em
		background: #4DC6BD
		overflow: hidden
		font-family : 'Cabin', sans-serif;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);

		a
			color: white
			display:block
			padding: 0 2em

			&.uno
				float:left
				font-size: 18pt
				text-transform: uppercase
				padding-left: 1em
				color: rgb(238, 255, 255)
				text-shadow: 0 -1px 0 #888;

			&.dos
				float:right
				background: #3DB7AD
				font-style  : italic

#video
	
	width 100%
	height: cover-left !important
	//height: 100%
	margin  : 0
	padding : 0
	position: relative
	overflow hidden
	

