#cover.row.collapse

	#cover-welcome.medium-5.large-4.columns
		&nbsp
		h2.color1 ¡Bienvenido!
		&nbsp
		p
			strong REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos veterinarios, estudiantes de veterinaria, académicos y personas interesadas en la medicina tanto de equinos, pequeñas especies y fauna silvestre en general.
			&nbsp
		p.hide-for-small.hide-for-medium En sus páginas se analizan temas actuales de la medicina veterinaria, casos clínicos y procedimientos de vanguardia, con aportaciones de los especialistas más reconocidos de nuestro país y del extranjero.
			&nbsp
		p.hide-for-small.hide-for-medium
			strong REMEVET&nbsp;
			| es el mejor medio en español para estar actualizado y aprender sobre los avances médicos, procedimientos actuales y casos clínicos.
			
		.btnazul.a.button.color1.right(href=ﬁ.bundles['about']) Conócenos


	#cover-article.large-8.medium-7.columns(style="background:#e7e2db")
		video#video(controls, autoplay, loop)
			source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.mp4", type="video/mp4")
			source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.ogg", type="video/ogg")

	.rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6


include /logos

	.rainbow
		.color.color3
		.color.color6
		.color.color5
		.color.color4
		.color.color2
		.color.color1

.row.collapse
	#magazines.small-12.medium-6.large-6.columns
		#magazines-header
			a.uno(href=ﬁ.bundles['magazines']) Revistas
			a.dos(href=ﬁ.bundles['magazines']) Ver anteriores

		#magazines-issues.row
			for pdf in pdfs
				.small-4.medium-6.large-4.columns
					figure.magazine
						a(href=ﬁ.settings.app.pdf.url+pdf.file+ﬁ.settings.app.pdf.opts)
							img(src=pdf.image)
						figcaption
							h4: a(href="#")=pdf.name
							aside: a(href="#")=pdf.issue


	#events.small-12.medium-6.large-6.columns

		#events-header
			a.uno(href=ﬁ.bundles['events']) Eventos
			a.dos(href=ﬁ.bundles['events']) Ver calendario

		#events-event.row
			.small-6.medium-6.large-4.columns
				figure.event
					a(href=ﬁ.bundles['events'])
						img(src="/static/images/events/xxxvi-congreso-anual-2014-de-la-asociacion-mexicana-de-medicos-veterinarios-especialistas-en-equinos-ac.jpg")
					figcaption
						aside: a(href=ﬁ.bundles['events']) Octubre


			.small-6.medium-6.large-4.columns
				figure.event
					a(href=ﬁ.bundles['events'])
						img(src="/static/images/events/small.03.jpg")
					figcaption
						aside: a(href=ﬁ.bundles['events']) Octubre

			.hide-for-small.hide-for-medium.large-4.columns
				figure.event
					a(href=ﬁ.bundles['events'])
						img(src="/static/images/events/small.04.jpg")
					figcaption
						aside: a(href=ﬁ.bundles['events']) Octubre
