include /../templates/mixins/rainbow
include /../templates/mixins/advertisers
-console.log("En JADE la magaziens es: " + JSON.stringify(magazines))
-console.log("En JADE la arts es: " + JSON.stringify(articles))

.cover.row.collapse

	.show-for-large-up.large-4.columns.gradient: .cover-left

		h2.color-primary ¡Bienvenido!
		p
			strong.color-1 REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos
			| veterinarios, estudiantes de veterinaria, académicos y personas interesadas
			| en la medicina tanto de equinos, pequeñas especies y fauna silvestre en
			| general. En sus páginas se analizan temas actuales de la medicina veterinaria,
			| casos clínicos y procedimientos de vanguardia, con aportaciones de los
			| especialistas más reconocidos de nuestro país y del extranjero.
		p
			strong.color-1 REMEVET&nbsp;
			| es el mejor medio en español para estar actualizado y aprender sobre los
			| avances médicos, procedimientos actuales y casos clínicos.

		h3: a.color-1(href=ﬁ.bundles['about']) ¡ Conócenos !


	.large-8.columns: .cover-right: .cover-contain

		article
			video.content(controls, autoplay, loop)
				source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.mp4", type="video/mp4")
				source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.ogg", type="video/ogg")


+rainbow(true)
+advertisers(advertisers)
+rainbow()


