extends ../../../../views/templates/article-init

block author-name
	span Por:&nbsp;
	span MVZ EMCV (FS) ITZCÓATL MALDONADO

block author-photo
	img(src="http://placehold.it/85x87&text=Author")

//- Photos in one-column mode.
block content-photo
	//- img(src="http://placehold.it/320x200&text=Slide+(1col)", width="100%")
	ul(data-orbit)
		li
			img(src="/static/bunny1.jpg", width="100%")
			.orbit-caption Figura 1
		li
			img(src="/static/bunny2.jpg", width="100%")
			.orbit-caption Figura 2

//- Photos in two-column mode.
block content-photo-left
	ul(data-orbit)
		li
			img(src="/static/bunny1.jpg", width="100%")
			.orbit-caption Figura 1
		li
			img(src="/static/bunny2.jpg", width="100%")
			.orbit-caption Figura 2

//- Content in one-column mode.
block content
	p Se presenta a consulta un conejo macho de 3 años de edad debido a que le notaron lesiones costrosas en las orejas. Durante el examen físico se reporta una dermatitis costrosa severa del pabellón auricular, usted toma una muestra de las costras y las coloca en un portaobjetos con aceite mineral para observarlas al microscopio.


//- Content in two-column mode.
block content-left
	p Se presenta a consulta un conejo macho de 3 años de edad debido a que le notaron lesiones costrosas en las orejas.

block content-right
	p Durante el examen físico se reporta una dermatitis costrosa severa del pabellón auricular, usted toma una muestra de las costras y las coloca en un portaobjetos con aceite mineral para observarlas al microscopio.

