extends ../../../../views/templates/article-init

div
	div#video
		form#cuestionario
			fieldset
				#esta_mal Respuesta incorrecta vuelve a intentarlo
				h1 ¿Cuál es su diagnóstico después de ver las lesiones en las orejas y la laminilla?
				.respuesta
					input(type="radio", name="respuesta", value="a"): label Psoroptes cuniculi
				.respuesta
					input(type="radio", name="respuesta", value="a"): label Cheyletiella parasitovorax
				.respuesta
					input(type="radio", name="respuesta", value="a"): label Demodex cuniculi
				.respuesta
					input(type="radio", name="respuesta", value="a"): label Lepooracus gibbus
	//- <div>
	//- 	<div id="video"></div>
	//- 	<form id="cuestionario">
	//- 		<fieldset>
	//- 			<div id="esta_mal">Respuesta incorrecta vuelve a intentarlo</div>
	//- 			<h1>¿La pregunta es?</h1>
	//- 			<div class="respuesta">
	//- 				<input type="radio" name="respuesta" value="a"><label>la respuesta</label></input>
	//- 			</div>
	//- 			<div class="respuesta">
	//- 				<input type="radio" name="respuesta" value="b"><label>la respuesta</label></input>
	//- 			</div>
	//- 			<div class="respuesta">
	//- 				<input type="radio" name="respuesta" value="c"><label>la respuesta</label></input>
	//- 			</div>
	//- 			<div id="boton_comprobar">
	//- 				<h3>Comprobar</h3>
	//- 			</div>

	//- 		</fieldset>
	//- 	</form>
	//- </div>

	//- <div id="correcto">
	//- 	<div id="esta_bien">
	//- 		RESPUESTA CORRECTA
	//- 	</div>
	//- 	<div id="correcto_foto">
	//- 	</div>
	//- 	<div id="correcto_texto">
	//- 		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	//- 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	//- 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	//- 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	//- 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	//- 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	//- 	</div>

	//- </div>