extends ../../../../views/templates/article-init

div
	div#video
		form#cuestionario
			fieldset
				#esta_mal Respuesta incorrecta vuelve a intentarlo
				h1 ¿Cuál es su diagnóstico después de ver las lesiones en las orejas y la laminilla?
				.respuesta
					input(type="radio", name="respuesta", value="a"): label Psoroptes cuniculi
				.respuesta
					input(type="radio", name="respuesta", value="a"): label Cheyletiella parasitovorax
				.respuesta
					input(type="radio", name="respuesta", value="a"): label Demodex cuniculi
				.respuesta
					input(type="radio", name="respuesta", value="a"): label Lepooracus gibbus
