.row(data-equalizer)
	h2.huge Tienda
	.large-4.small-4.columns.panel(data-equalizer-watch)
		img(alt="REMEVET", src="/static/rem.png", width="100%", style="margin-bottom:10px; text-align:center")		
	.large-8.small-8.columns.panel(data-equalizer-watch)
		p Suscripción a REMEVET
		p Minions ipsum chasy me want bananaaa! Consequat. Dolore elit po kass labore bappleees consectetur aliquip poopayee consequat aaaaaah. Aliqua aute ut tank yuuu! Gelatooo aliqua quis aaaaaah potatoooo commodo. Sit amet sit amet duis voluptate butt aaaaaah consectetur et underweaaar aliquip. Underweaaar velit exercitation gelatooo poopayee jiji belloo! Quis esse aute ti aamoo! Tank yuuu! Nisi incididunt duis aliqua hana dul sae duis.
		p $ 250.00
		form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top", style="margin-top:4em; text-align:center")
			input(type="hidden", name="cmd", value="_s-xclick")
			input(type="hidden", name="hosted_button_id", value="LRKZFU976NAYN")
			input(type="image", src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal, la forma más segura y rápida de pagar en línea.")
			img(alt="", border="0", src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif", width="1", height="1")