.w_container
	form(method="POST", action=ﬁ.bundles['widgets'])
		input(type="radio", name="answer", value="a", id="ans1")
		label(for="ans1") A) blah blah
		input(type="radio", name="answer", value="b", id="ans2")
		label(for="ans2") B) blah blah
		input(type="radio", name="answer", value="c", id="ans3")
		label(for="ans3") C) blah blah
		input(type="radio", name="answer", value="d", id="ans4")
		label(for="ans4") D) blah blah
		input#contestar(type="submit", value="Contestar")
