#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 Artículos de nuestros patrocinadores
		p
			| Este apartado es un medio de comunicación directa entre los usuarios de este portal y nuestros patrocinadores.

		p En él podrás encontrar información sobre las Empresas que nos apoyan que van desde temas técnicos y científicos sobre alimentos, equipos o medicamentos, hasta lo más novedoso en cuanto a productos y servicios que ellos te ofrecen.

	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/covers/royal.jpg')")
		
		article
			.uno
				h3: a(href="/static/lib/pdf.js/web/viewer.html?file=/static/articles/sponsored/guia-de-de-productos-royal-canin.pdf#page=1&zoom=page-fit&twoPageView=2") Guía de productos Royal Canin
				h4: a(href="/static/lib/pdf.js/web/viewer.html?file=/static/articles/sponsored/guia-de-de-productos-royal-canin.pdf#page=1&zoom=page-fit&twoPageView=2") Royal Canin
			.dos
				a.uno(href="/static/lib/pdf.js/web/viewer.html?file=/static/articles/sponsored/guia-de-de-productos-royal-canin.pdf#page=1&zoom=page-fit&twoPageView=2") 
				a.dos(href="/static/lib/pdf.js/web/viewer.html?file=/static/articles/sponsored/guia-de-de-productos-royal-canin.pdf#page=1&zoom=page-fit&twoPageView=2") Leer Artículo

	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6

include /logos

#magazines.row.collapse
	#magazines-header
		a.uno(href=ﬁ.bundles['magazines']) Artículos
		
	
	#magazines-issues.row
		for article in data
			.small-6.medium-4.large-2.columns
				figure.magazine
					a(href=ﬁ.settings.app.pdf.url+article.file+ﬁ.settings.app.pdf.opts)
						img(src=article.image)
					figcaption
						h4: a(href="#")=article.name
						aside: a(href="#")=article.issue



