include /../templates/mixins/rainbow
include /../templates/mixins/advertisers

+rainbow()
+advertisers(advertisers)
+rainbow(true)

.row.collapse.color-bg-4.color-bg-lightest

#magazines.row.collapse
	#magazines-header.color-4
		a.uno(href=ﬁ.bundles['magazines']) Artículos


	#magazines-issues.row
		for article in articles
			.small-6.medium-4.large-2.columns
				figure.magazine
					a(href=article.file)
						img(src="http://uat-website.s3.amazonaws.com/images/community/Convocatoria_Feb-Jul_2015.png")
					figcaption
						h4: a(href="#") Convocatoria Febrero - Julio 2015
						aside: a(href="#") Convocatoria Febrero - Julio 2015



