#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 Comunidad
		p
			| ¿Te interesa aplicar tus conocimientos y no sabes dónde buscar? o ¿Necesitas contratar Médicos Veterinarios para tu Clínica u Hospital? REMEVET apoya al sector uniéndolos a través de su Bolsa de Trabajo. Además, también fomentamos el vínculo entre Veterinarios para que puedas vender equipo que ya no usarás o conseguir equipo y material a un menor precio gracias a nuestros “Avisos de Ocasión”.


	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/drs.jpg')")
		
		article
			.uno
				h3: a(href="#") Aviso Oportuno / Bolsa de trabajo
				h4: a(href="#")
			.dos
				a.uno(href="#")
				a.dos(href="#")

	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6

#clients.row.collapse
	#clients-slider
		.slide: a(href="http://www.laveccs.org/"): img(src="/static/images/logos/33.png")
		.slide: a(href="http://www.merial.com.mx"): img(src="/static/images/logos/01.png")
		.slide: a(href="http://www.ceamvet.com.mx"): img(src="/static/images/logos/02.jpg")
		.slide: a(href="http://www.bio-zoo.com.mx"): img(src="/static/images/logos/03.jpg")
		.slide: a(href="http://www.vetoquinol.mx"): img(src="/static/images/logos/04.jpg")
		.slide: a(href="http://www.archnovo.com.mx/"): img(src="/static/images/logos/05.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/06.jpg")
		.slide: a(href="http://santgar.com/"): img(src="/static/images/logos/07.png")
		.slide: a(href="http://www.elanco.com.mx"): img(src="/static/images/logos/08.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/09.jpg")
		.slide: a(href="http://www.petlocator.com.mx"): img(src="/static/images/logos/10.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/11.jpg")
		.slide: a(href="http://www.maico.cc/"): img(src="/static/images/logos/12.jpg")
		.slide: a(href="https://www.idexx.com/"): img(src="/static/images/logos/13.jpg")
		.slide: a(href="http://www.royalcanin.com.mx/"): img(src="/static/images/logos/14.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/15.jpg")
		.slide: a(href="http://www.acmevez.mx"): img(src="/static/images/logos/16.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/17.jpg")
		.slide: a(href="http://www.frontline.com.mx"): img(src="/static/images/logos/18.png")
		.slide: a(href="http://www.fcm.mx"): img(src="/static/images/logos/20.jpg")
		.slide: a(href="http://www.vettv.org"): img(src="/static/images/logos/21.jpg")
		.slide: a(href="http://www.petmmal.com.mx"): img(src="/static/images/logos/23.jpg")
		.slide: a(href="http://www.cirugiaveterinaria.com/"): img(src="/static/images/logos/24.png")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/24.jpg")
		.slide: a(href="http://www.ammvee.org.mx/"): img(src="/static/images/logos/25.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/26.jpg")
		.slide: a(href="http://www.norvet.com.mx"): img(src="/static/images/logos/27.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/29.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/30.jpg")
		.slide: a(href="http://www.ropasanluis.com.mx/"): img(src="/static/images/logos/31.jpg")
		.slide: a(href="https://desego.com"): img(src="/static/images/logos/32.jpg")