include /../templates/mixins/rainbow
include /../templates/mixins/advertisers

+rainbow()
+advertisers(advertisers)
+rainbow(true)

.row.collapse.color-bg-6.color-bg-lightest

#magazines.row.collapse
	#magazines-header.color-6
		a.uno(href=ﬁ.bundles['magazines']) Comunidad


	#magazines-issues.row
		.small-6.medium-4.large-2.columns
			figure.magazine
				a(href="http://uat-website.s3.amazonaws.com/images/community/Convocatoria_Feb-Jul_2015.pdf", target="_blank")
					img(src="http://uat-website.s3.amazonaws.com/images/community/Convocatoria_Feb-Jul_2015.png")
				figcaption
					h4: a(href="#") Convocatoria Feb - Jul 2015
					//- aside: a(href="#") Convocatoria Feb - Jul 2015

