include /../templates/mixins/rainbow
include /../templates/mixins/advertisers

+rainbow()
+advertisers(advertisers)
+rainbow(true)
.row.collapse.cover.cover-fixed.color-bg-secondary.color-bg-lightest

	.show-for-large-up.large-4.columns.gradient: .cover-left

		h2.color-6 Comunidad
		p

			| ¿Te interesa aplicar tus conocimientos y no sabes dónde buscar? o ¿Necesitas contratar Médicos Veterinarios para tu Clínica u Hospital? REMEVET apoya al sector uniéndolos a través de su Bolsa de Trabajo. Además, también fomentamos el vínculo entre Veterinarios para que puedas vender equipo que ya no usarás o conseguir equipo y material a un menor precio gracias a nuestros “Avisos de Ocasión”.

		p.hide-for-small.hide-for-medium
			|	En sus páginas se analizan temas actuales de la medicina veterinaria,
			|	casos clínicos y procedimientos de vanguardia, con aportaciones de los
			|	especialistas más reconocidos de nuestro país y del extranjero.

