#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 Comunidad
		p
			| ¿Te interesa aplicar tus conocimientos y no sabes dónde buscar? o ¿Necesitas contratar Médicos Veterinarios para tu Clínica u Hospital? REMEVET apoya al sector uniéndolos a través de su Bolsa de Trabajo. Además, también fomentamos el vínculo entre Veterinarios para que puedas vender equipo que ya no usarás o conseguir equipo y material a un menor precio gracias a nuestros “Avisos de Ocasión”.


	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/drs.jpg')")
		
		article
			.uno
				h3: a(href="#") Aviso Oportuno / Bolsa de trabajo
				h4: a(href="#")
			.dos
				a.uno(href="#")
				a.dos(href="#")

	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6

include /logos