#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 Comunidad
		p
			| ¿Te interesa aplicar tus conocimientos y no sabes dónde buscar? o ¿Necesitas contratar Médicos Veterinarios para tu Clínica u Hospital? REMEVET apoya al sector uniéndolos a través de su Bolsa de Trabajo. Además, también fomentamos el vínculo entre Veterinarios para que puedas vender equipo que ya no usarás o conseguir equipo y material a un menor precio gracias a nuestros “Avisos de Ocasión”.
			br
			br
			br
			br

	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/covers/horse_1.jpg')")
		
		article
			.uno
				h3: a(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/equinos/equinos-024.pdf#page=41&zoom=page-fit&twoPageView=2", target="_blank") Una enfermedad presente en la zona centro- norte del estado de veracruz.
				h4: a(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/equinos/equinos-024.pdf#page=41&zoom=page-fit&twoPageView=2", target="_blank") MVZ. Antonio Fernando Martínez
			.dos
				a.uno(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/equinos/equinos-024.pdf#page=41&zoom=page-fit&twoPageView=2", target="_blank") Equinos
				a.dos(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/equinos/equinos-024.pdf#page=41&zoom=page-fit&twoPageView=2", target="_blank") Leer Artículo

	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6

include /logos