.row: .large-4.small-8.large-centered.small-centered.columns

	if  isPOST

		h2 ¡Listo !
		p
			| Hemos generado una nueva contraseña y la hemos enviado
			| al correo electrónico que nos proporcionaste.
		p
			| Cuando estés listo,
			a(href="#{ﬁ.bundles['auth/login']}")  Entra
			|  nuevamente.

	else
		if locals.errors
			each error in locals.errors
				.alert-box.secondary.radius= error
		form(method='post')
			.large-12.small-12.columns
				h2 Recupera tu contraseña
			.large-12.small-12.columns
				label Correo electrónico
				input(name='mail',type='email', tabindex="1", required)
			.large-12.small-12.columns
				label Confirmar correo
				input(name='mail2',type='email', tabindex="2", required)

			.small-12.large-12.columns
				button.button.small.radius.right(type='submit', tabindex="3")
					|	Enviar