#custom
	//background-image:url('/static/fondo.jpg') !important
	background-color:#F2F2F2
	height : 100%
	border: 1px 
	solid black

video
	max-width: 970px



.btn1{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #f067c2;
  padding: 10px 20px 10px 20px;
  border: solid #f067c2 0px;
  text-decoration: none;
  width: 287px;
  height: 200px;
  background-image:url(/static/images/suscribete.png);
  background-color: transparent; 
  background-repeat: no-repeat; 
}

.btn1:hover {
  background: #facbea;
  color: #f067c2
  text-decoration: none;
  width: 287px;
  height: 200px;
  background-image:url(/static/images/suscribete.png);
  background-color: transparent; 
  background-repeat: no-repeat;
}

.btn2 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #f067c2 0px;
  text-decoration: none;
  width: 287px;
  height: 180px;
  background-image:url(/static/images/mes-gratis.png);
  background-color: transparent; 
  background-repeat: no-repeat;
  
}

.btn2:hover {
  background: #facbea;
  color: #f067c2
  text-decoration: none;
  background-image:url(/static/images/mes-gratis.png);
  background-color: transparent; 
  background-repeat: no-repeat;
}

.btn3 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #f067c2;
  padding: 10px 20px 10px 20px;
  border: solid #f067c2 0px;
  text-decoration: none;
  width: 80%; 
}

.btn3:hover {
  background: #facbea;
  color: #f067c2
  text-decoration: none;
  width: 80%;
  border: solid 1px #f067c2;
}

