//- - console.log('Entrando a vista'+JSON.stringify(data) )

.cover.row.collapse.cover-fit.color-bg-5.color-bg-lightest

	.show-for-large-up.large-4.columns: .cover-left

		h2.color-primary Videoteca REMEVET
		p
			| En este espacio podrás encontrar videos relacionados con el mundo de la medicina 
			| veterinaria expuestos por los más reconocidos profesionales.

		p
			|Para tener acceso a todo el contenido de esta sección adquiere tu membresía por $99 mensuales, después de disfrutar tu mes gratis.

		.large.small-12.columns

			br 
			br
			<center> 
			case status
				when 0
					.small-12.columns
						a.color.button.btn2(href=ﬁ.bundles['video/subscription/success'].replace(":interest", interest))
				when 2
					.small-12.columns
						a.color.button.btn1(href=ﬁ.bundles['video/subscription'])
			</center>
			

	.small-12.large-8.columns.color-bg-5.color-bg-lighter

		.row.collapse: section.small-12.columns

			header.color-bg-5
				a.uno ¿Qué sección deseas visitar?

			main.row: .small-12.large-12.columns.large-centered

					.small-4.columns
						a(href=ﬁ.bundles['video/home'].replace(":interest", 1))
							img(src="/static/images/videoteca-pequenas.png")

					.small-4.columns
						a(href=ﬁ.bundles['video/home'].replace(":interest", 2))
							img(src="/static/images/videoteca-equinos.png")

					.small-4.columns
						a(href=ﬁ.bundles['video/home'].replace(":interest", 3))
							img(src="/static/images/videoteca-fauna.png")

						

						

		
