.verificador
	display : none
	
.player
	max-width  : 720px
	max-height : 480px

#mediaplayer
	margin     : 0 auto
	width: 98% !important;
	padding-left: 2% !important

#videos_relacionados
	padding-top    	: 15px
	padding-left    : 0
	padding-button  : 15px !important
	padding-right   : 10px
	overflow-x 		: scroll
	min-width  		: 250px
	width      		: 100%

#videos_relacionados div 
	display   : table-cell
	min-width : 200px

#advertencia
	display : none
	color   : #FF942C


.cover-left
	height: 100%

p
	padding-top: 0%


.btn1{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #f067c2;
  padding: 10px 20px 10px 20px;
  border: solid #f067c2 0px;
  text-decoration: none;
  width: 287px;
  height: 200px;
  background-image:url(/static/images/suscribete.png);
  background-color: transparent; 
  background-repeat: no-repeat; 
}

.btn1:hover {
  background: #facbea;
  color: #f067c2
  text-decoration: none;
  width: 287px;
  height: 200px;
  background-image:url(/static/images/suscribete.png);
  background-color: transparent; 
  background-repeat: no-repeat;
}