#custom
	//background-image:url('/static/fondo2.jpg') !important
	background-color:#FFFFFF
	height : 100%
	border: 1px 
	solid: black
	color: red

#container 
	background-color:#e6e6e6
	padding: 2em
	color: red

.customButton
	background-color:#ff8000

h1,label
	color white

