
#content-header
	margin         : 0
	padding        : 0
	line-height    : 1em
	margin-bottom  : 1em
	font-size      : 14pt
	font-weight    : normal
	font-family    : 'Cabin', sans-serif;
	text-transform : uppercase
	text-shadow    : 0 -1px 0 black
	padding-left   : 38px
	padding-bottom : 5px
	background: #543519

	&, & a
		color: rgba(255,255,255, 0.9)

	& a:hover
		color: #FC9732

fieldset
	& legend
		color: rgba(0,0,0,0.33)
		padding: 0 1em
