#magazines
	background: #FEF9E5

	#magazines-issues
		padding: 1.5em 0

		figure.magazine
			margin:0

			& > a
				z-index:0
				position:relative
				display:block
				top:0
				left:0
				height:100%

			& > figcaption
				z-index:1
				position:relative
				display:block
				background: #fff
				overflow:hidden

				& > *
					position:relative
					line-height: 30px
					font-family: 'Cabin', sans-serif
					font-weight: 700

				aside
					float:right
					background: #D9B24A
					a
						font-size: 14pt
						padding: 0 0.5em
						line-height: inherit
						color: white
						text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);


				h4
					float:left
					margin:0
					padding:0
					a
						font-size: 12pt
						color: rgb(84,53,25)
						padding: 0 0.5em
	#magazines-header
		line-height:3em
		background: #999
		overflow: hidden
		font-family : 'Cabin', sans-serif;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);

		a
			color: white
			display:block
			padding: 0 2em

			&.uno
				float:left
				font-size: 18pt
				text-transform: uppercase
				padding-left: 1em
				color: rgb(255, 255, 238)
				text-shadow: 0 -1px 0 #888;
					
			&.dos
				float:right
				background: rgb(210, 160, 53)
				font-style  : italic
				font-size   : 15pt