

.cover.row.collapse.cover-fit.color-bg-2.color-bg-lightest


	.small-12.large-8.columns
		- var tmpimagePeq = "background-image:url('http://uat-website.s3.amazonaws.com/images/rana2')"
	
			main.content(style=tmpimagePeq)

					h3
						strong.color-2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;XIII Reunión Nacional de Herpetología&nbsp;
					p
						.color-0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Celebrando el 26 Aniversario de la Fundación de la Sociedad Herpetológica Mexicana(1988-2014)
						
					p
						.color-0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 al 7 de noviembre de 2014 Aguascalientes, Ags.
					
					p
						strong.color-0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lugar:&nbsp; Universidad Autónoma de Aguascalientes
					p	
						.color-0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Informes:&nbsp; Dr. Victor Hugo Molina (lujastro@yahoo.com), Dr. Jorge Éufrates Morales Mávil (jmmavil@gmail.com)
						.color-0 &nbsp;&nbsp;&nbsp;&nbsp;www.sociedadherpetologicamexicana.org

	
	.small-12.large-4.columns.color-bg-2.color-bg-lighter

		row.collapse
				
