video
	width:100%
	height:100%

.app-line
	height:1px
	width:100%
	background:black
	margin-top:20px
	margin-bottom:20px

.app-image-slider
	width:100%
	height:300px

// .profile-pic
// 	width:100%

.app-initial
	font-size : 80% !important
	line-height:1.0em !important

.app-logo
	margin:10px

.app-paragraph
	margin:20px

blockquote
	width: 33.33%
	color:red
	margin:0.75em 2em 1.5em 0
	float:left
	display:block
	
@media screen and (max-width:1024px)
	blockquote
		width: 50%

// Hide orbit's controls
// .orbit-slide-number
// 	display:none
// .orbit-timer
// 	display:none
// .orbit-progress
// 	display:none
