// TODO: Add this to FOUNDATION SASS
@import url('//fonts.googleapis.com/css?family=Cabin:700')
@import url('//fonts.googleapis.com/css?family=Nobile:400italic,400')

@import 'styles/globals'
@import 'styles/generic'
@import 'styles/colors'
@import 'styles/cover'
@import 'styles/magazines'
@import 'styles/advertisers'

body

	& > header
		z-index: 2
		@import 'styles/header'

	& > nav#breadcrumbs
		@import 'styles/breadcrumbs'

	& > #notice
		z-index: 2
		@import 'styles/notice'

	& > #content
		z-index: 0

		& > .row.collapse
			// Force rows depending directly on content to use all width
			max-width:100%

	& > footer
		z-index: 2
		@import 'styles/footer'

	& > #fallback
		display:none


	html.fallback &
		@import 'styles/fallback'

	
	
