// TODO: Add this to FOUNDATION SASS
@import url('//fonts.googleapis.com/css?family=Cabin:700')
@import url('//fonts.googleapis.com/css?family=Nobile:400italic,400')

@import 'styles/globals'
@import 'styles/generic'
@import 'styles/colors'
@import 'styles/cover'
@import 'styles/magazines'

body

	& > header
		z-index: 2
		@import 'styles/header'

	& > nav#breadcrumbs
		@import 'styles/breadcrumbs'

	& > #notice
		z-index: 2
		@import 'styles/notice'

	& > #content
		z-index: 0

		& > .row.collapse
			// Force rows depending directly on content to use all width
			max-width:100%

	& > footer
		z-index: 2
		@import 'styles/footer'

	& > #fallback
		display:none

	
	html.fallback &
		@import 'styles/fallback'

	.texto1
		margin 0
		padding 0
		display inline-block
	.foto
		margin 0 
		padding 0
		display inline-block
	.contenedor
		margin 0
		padding 0
		display inline-block
	.lorem
		margin 0
		padding .5em .5em 0 3%
		color white
		
	.lorem1
		margin 0
		padding 2% .5em 0 3%
		color white
		font-size 2em

	.lorem2
		margin 0
		padding 1% .5em 0 3%
		color white
		text-aling justify	
		

	.imgl
		height :texto1
		padding 8% 5% 3% 5%
		

		