// TODO: Add this to FOUNDATION SASS
@import url('http://fonts.googleapis.com/css?family=Cabin:700,700italic')
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

h1,h2,h3,h4,h5,h6
	font-family: 'Montserrat','Helvetica Neue', Helvetica,Arial, sans-serif

	&.bold
		font-weight: bold

	@media screen and (min-width: 1024px)

		&.huge
			font-size: 3.5em


body > #content  > .row.collapse
	max-width:100%



button.color1
.button.color1
	
	background-color: #943A6C

	&:hover
	&:focus
		background-color: #990066


body > header
	z-index: 2
	@import 'styles/header'

body > #notice
	z-index: 1
	@import 'styles/notice'

body > #content
	z-index: 0

body > footer
	z-index: 2
	@import 'styles/footer'
	
.fi
	font-size      : 1.50em
	margin-right   : 0.25em
	margin-left    : -.25em
	vertical-align : sub
