.row 
	.small-12.large-6.columns
		H4 Reproductor Multimedia

	.small-12.large-6.columns
		button(type="button", id="play") Play

	.small-12.large-6.columns
		#mediaplayer
		#verificador
			object(type="application/x-shockwave-flash" id="check" name="check" align="middle" data="/static/lib/jwplayer/check.swf" width="1" height="1")
				param(name="allowscriptaccess" value="always")